<!doctype html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<link href="common.css" type="text/css" rel="stylesheet">
<head th:replace="component/head :: head"></head>

<body onload="getRequest();fillHref()">
	<header th:replace="component/header :: header"></header>

	<!-- Begin page content -->
	<div class="container">
		<div class="row">
			<div th:replace="component/sidebar"></div>

			<div class="col-md-9">
				<div th:replace="component/page-title::pageTitle('班级详情')"></div>

				<div class="row">
					<div class="col-md-4 offset-md-4 mb-3">
						
					</div>
				</div>

				<div class="row">
					<div class="col-md-8 offset-md-2">
						<div class="input-group mb-3">
							<div class="input-group-prepend">
								<span class="input-group-text" id="basic-addon3">学院</span>
							</div>
							<input type="text" class="form-control" id="basic-url-academy" aria-describedby="basic-addon3" readonly>
						</div>
						<div class="input-group mb-3">
							<div class="input-group-prepend">
								<span class="input-group-text" id="basic-addon3">专业</span>
							</div>
							<input type="text" class="form-control" id="basic-url-profession" aria-describedby="basic-addon3" readonly>
						</div>
						<div class="input-group mb-3">
							<div class="input-group-prepend">
								<span class="input-group-text" id="basic-addon3">班级</span>
							</div>
							<input type="text" class="form-control" id="basic-url-classes" aria-describedby="basic-addon3" readonly>
						</div>
					</div>
				</div>


				<div class="row">
					<div class="col-md-8 offset-md-2">
						<a href="#" class="btn btn-primary" role="button" id="academy-classes-dm-modify-url">修改信息</a>
						<button onclick="deleteClass()" type="button" class="btn btn-danger">删除班级</button>
						<a href="#" class="btn btn-secondary" role="button" id="academy-classes-dm-list-url">返回列表页</a>
					</div>
				</div>
			</div>
		</div>
	</div>

	<footer th:replace="component/footer :: footer"></footer>

	<script>
		function getUrl() {
			var url = location.search; //获取url中"?"符后的字串
			var theRequest = new Object();
			if (url.indexOf("?") != -1) {
				var str = url.substr(1);
				strs = str.split("&");
				for (var i = 0; i < strs.length; i++) {
					theRequest[strs[i].split("=")[0]] = unescape(strs[i].split("=")[1]);
				}
			}
			return theRequest;
		}

		function getRequest() {
			var theRequest = new Object();
			theRequest = getUrl();
			//获取id
			var id = theRequest["id"];
			$.ajax({
				url: "/genesis/restmetadata/get-classdo-and-academy-vo-by-id",
				type: "POST",
				data: id,
				contentType: "application/json; charset=utf-8",
				dataType: 'json',
				async: true,
				success: function (result) {
					if (result.success == false) {
						if (result.code == 9002) {
							alert("参数错误");
						} else if (result.code == 9999) {
							alert("系统错误");
						}
					} else {
						document.getElementById('basic-url-academy').value = result.module.academy;
						document.getElementById('basic-url-profession').value = result.module.profession;
						document.getElementById('basic-url-classes').value = result.module.classDO.number;
					}
				},
				error: function (e) {
					alert("getRequest异常");
				}
			});
		}

		function deleteClass() {
			var msg = "确定要删除吗？";
			if (confirm(msg) == true) {
				var theRequest = new Object();
				theRequest = getUrl();
				var id = theRequest["id"];
				$.ajax({
					url: "/genesis/restmetadata/delete-class-by-id",
					type: "POST",
					data: id,
					contentType: "application/json; charset=utf-8",
					dataType: 'json',
					async: true,
					success: function (result) {
						if (result.success == false) {
							if (result.code == 9002) {
								alert("参数错误");
							} else if (result.code == 9999) {
								alert("系统错误");
							}else if (result.code == 9004) {
								alert("外键约束，禁止删除");
							}
						} else {
							alert("删除成功！");
							window.location.href = "/genesis/metadata/academy-classes-dm-list";
						}
					},
					error: function (e) {
						alert("异常");
					}
				});
			} else {
				return;
			}
		}

		var url;
		function getHref(id) {
			$.ajax({
				url: "/genesis/restmetadata/get-academy-classes-dm-modify-url",
				type: "POST",
				data: id,
				contentType: "application/json; charset=utf-8",
				dataType: 'json',
				async: false,
				success: function (result) {
					if (result.success == false) {
						if (result.code == 9002) {
							alert("参数错误");
						} else if (result.code == 9999) {
							alert("系统错误");
						}
					} else {
						url = result.module;
					}
				},
				error: function (e) {
					alert("异常");
				}
			});
			return url;
		}

		function redirectUrl() {
			var theRequest = new Object();
			theRequest = getUrl();
			var id = theRequest["id"];
			var href = getHref(id);
			return href;
		}

		function fillHref() {
			document.getElementById("academy-classes-dm-modify-url").href = redirectUrl();
			document.getElementById("academy-classes-dm-list-url").href = "/genesis/metadata/academy-classes-dm-list";
		}
	</script>

	<div th:replace="component/footer-lib"></div>
</body>

</html>