<!doctype html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head th:replace="component/head :: head"></head>

<body onload="getDetail();getProfessions();fillHref()">
	<header th:replace="component/header :: header"></header>

	<!-- Begin page content -->
	<div class="container">
		<div class="row">
			<div th:replace="component/sidebar"></div>

			<div class="col-md-9">
				<div th:replace="component/page-title::pageTitle('班级详情修改')"></div>

				<div class="row">
					<div class="col-md-8 offset-md-2">
						<div class="input-group mb-3">
							<div class="input-group-prepend">
								<span class="input-group-text" id="basic-addon3">学院</span>
							</div>
							<select class="form-control" id="academySelection" >
								<option disabled="disabled">请选择...</option><!-- 动态追加学院 -->
							</select>
						</div>
						<div class="input-group mb-3">
							<div class="input-group-prepend">
								<span class="input-group-text" id="basic-addon3">专业</span>
							</div>
							<select class="form-control" id="professionSelection" >
								<option disabled="disabled">请选择...</option><!-- 动态追加专业 -->
							</select>
						</div>
						<div class="input-group mb-3">
							<div class="input-group-prepend">
								<span class="input-group-text" id="basic-addon3">班级</span>
							</div>
							<input type="text" class="form-control" id="classNumber" aria-describedby="basic-addon3">
						</div>
					</div>
				</div>

				<div class="row">
					<div class="col-md-8 offset-md-2">
						<button onclick="modify()" type="button" class="btn btn-primary">保存</button>
						<a href="#" class="btn btn-secondary" role="button" id="academy-classes-dm-detail-url">返回</a>
					</div>
				</div>
			</div>
		</div>
	</div>

	<footer th:replace="component/footer :: footer"></footer>

	<script>
	
		var toSelect;
	
	    function getAcademies() {
	    	//获取数据库中的学院
	        $.ajax({
				url: "/genesis/restmetadata/get-academies",
				type: "POST",
				contentType: "application/json; charset=utf-8",
				dataType: 'json',
				async: true,
				success: function (result) {
					if (result.success == false) {
						if (result.code == 9002) {
							alert("参数错误");
						}else if (result.code == 9999) {
							alert("系统错误");
						}
					} else {
						//得到学院list
						var list = result.module;
						//清空academy(除第一个)
						$('#academySelection option').not(":first").remove();
						for(var i in list){			
							if(list[i] == toSelect){
								$("#academySelection").append("<option selected='selected' value="+i+">"+list[i]+"</option>");
							}
							else
								$("#academySelection").append("<option value="+i+">"+list[i]+"</option>");
						}
						
					}
				},
				error: function (e) {
					alert("异常");
				}
			});
		}

		function getUrl() {
			var url = location.search; //获取url中"?"符后的字串
			var theRequest = new Object();
			if (url.indexOf("?") != -1) {
				var str = url.substr(1);
				strs = str.split("&");
				for (var i = 0; i < strs.length; i++) {
					theRequest[strs[i].split("=")[0]] = unescape(strs[i].split("=")[1]);
				}
			}
			return theRequest;
		}

		function modify() {
			var academy = $("#academySelection option:selected").text();
			var profession = $("#professionSelection option:selected").text();
			var number = $('#classNumber').val();
			var theRequest = new Object();
			theRequest = getUrl();
			var id = theRequest["id"];
			if (academy == '请选择...' || number == '请选择...')
				return;
			$.ajax({
				url: "/genesis/restmetadata/modify-class",
				type: "POST",
				data: JSON.stringify({
					"id": id,
					"academy": academy,
					"profession":profession,
					"number": number,
				}),
				contentType: "application/json; charset=utf-8",
				dataType: 'json',
				async: true,
				success: function (result) {
					if (result.success == false) {
						if (result.code == 9002) {
							alert("参数错误");
						} else if (result.code == 9999) {
							alert("系统错误");
						}else if (result.code == 1027) {
							alert("已存在该班级，请重新修改");
						}						
					} else {
						alert("修改成功！");
						var href = getHref(id);
						window.location.href = href;
					}
				},
				error: function (e) {
					alert("异常");
				}
			});
		}

		var url;
		function getHref(id) {
			$.ajax({
				url: "/genesis/restmetadata/get-academy-classes-dm-detail-url",
				type: "POST",
				data: id,
				contentType: "application/json; charset=utf-8",
				dataType: 'json',
				async: false,
				success: function (result) {
					console.log(result);
					if (result.success == false) {
						if (result.code == 9002) {
							alert("参数错误");
						} else if (result.code == 9999) {
							alert("系统错误");
						}
					} else {
						url = result.module;
					}
				},
				error: function (e) {
					alert("异常");
				}
			});
			return url;
		}

		var detailProfession;
		function getDetail() {
			var theRequest = new Object();
			theRequest = getUrl();
			//获取id
			var id = theRequest["id"];
			$.ajax({
				url: "/genesis/restmetadata/get-classdo-and-academy-vo-by-id",
				type: "POST",
				data: id,
				contentType: "application/json; charset=utf-8",
				dataType: 'json',
				async: false,
				success: function (result) {
					if (result.success == false) {
						if (result.code == 9002) {
							alert("参数错误");
						} else if (result.code == 9999) {
							alert("系统错误");
						}
					} else {
						toSelect = result.module.academy;
						detailProfession = result.module.profession;
						document.getElementById('classNumber').value = result.module.classDO.number;
						getAcademies();
					}
				},
				error: function (e) {
					alert("异常");
				}
			});
		}

		function fillHref() {
			var theRequest = new Object();
			theRequest = getUrl();
			var id = theRequest["id"];
			document.getElementById("academy-classes-dm-detail-url").href = getHref(id);
		}
		
		function getProfessions() {
       	 $.ajax({
                url: "/genesis/restmetadata/get-professions",
                type: "POST",
                contentType: "application/json; charset=utf-8",
                dataType: 'json',
                async: false,
                success: function (result) {
                    console.log(result);
                    if (result.success == false) {
                        if (result.code == 9002) {
                            alert("参数错误");
                        } else if (result.code == 9999) {
                            alert("系统错误");
                        }
                    } else {
                        //得到专业list
                        var list = result.module;
                        //清空专业(除第一个)
                        $('#professionSelection option').not(":first").remove();
                        for (var i = 0; i < list.length; i++) {
                            if (list[i] == detailProfession) {
                                $("#professionSelection").append("<option selected='selected' value=" + i + ">" +
                                    list[i] + "</option>");
                            } else
                                $("#professionSelection").append("<option value=" + i + ">" + list[i] +
                                    "</option>");
                        }
                    }
                },
                error: function (e) {
                    alert("异常");
                }
            });
		}
	</script>

	<div th:replace="component/footer-lib"></div>

</body>

</html>