<!doctype html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head th:replace="component/head :: head"></head>

<body onload="getBuilding();fillHref()">
	<header th:replace="component/header :: header"></header>

	<!-- Begin page content -->
	<div class="container">
		<div class="row">
			<div th:replace="component/sidebar"></div>

			<div class="col-md-9">
				<div th:replace="component/page-title::pageTitle('楼号楼层详情修改')"></div>

				<div class="row">
					<div class="col-md-8 offset-md-2">
						<div class="input-group mb-3">
							<div class="input-group-prepend">
								<span class="input-group-text" id="basic-addon3">楼号</span>
							</div>
							<select class="form-control" id="buildingSelection" onchange="selectBuilding();">
								<option disabled="disabled">请选择</option> <!-- 动态追加楼号 -->
							</select>
						</div>
						<div class="input-group mb-3">
							<div class="input-group-prepend">
								<span class="input-group-text" id="basic-addon3">楼层</span>
							</div>
							<select class="form-control" id="floorSelection">
								<option disabled="disabled">请选择</option> <!-- 动态追加楼层号 -->
							</select>
						</div>
					</div>
				</div>

				<div class="row">
					<div class="col-md-8 offset-md-2">
						<button onclick="modify()" type="button" class="btn btn-primary">保存</button>
						<a href="#" class="btn btn-secondary" role="button" id="building-floor-dm-detail-url">返回</a>
					</div>
				</div>
			</div>
		</div>
	</div>

	<footer th:replace="component/footer :: footer"></footer>

	<script>
		function getBuilding() {
			detailBuild = "";
			detailFloor = "";
			getDetail();
			//获取数据库中的楼号
			$.ajax({
				url: "/genesis/restmetadata/get-buildings",
				type: "POST",
				contentType: "application/json; charset=utf-8",
				dataType: 'json',
				async: true,
				success: function (result) {
					if (result.success == false) {
						if (result.code == 9002) {
							alert("参数错误");
						} else if (result.code == 9999) {
							alert("系统错误");
						}
					} else {
						//得到楼号list
						var list = result.module;
						//清空build(除第一个)
						$('#buildingSelection option').not(":first").remove();
						for (var i = 0; i < list.length; i++) {
							if(list[i] == detailBuilding){
								$("#buildingSelection").append("<option selected='selected' value="+i+">"+list[i]+"</option>");
							}
							else
								$("#buildingSelection").append("<option value="+i+">"+list[i]+"</option>");
						}
						selectBuilding();
					}
				},
				error: function (e) {
					alert("异常");
				}
			});
		}

		function selectBuilding() {
			//获取select选中的text。
			var building = $("#buildingSelection option:selected").text();
			$.ajax({
				//url: "/genesis/restmetadata/get-floors-by-building", 
				//使用枚举
				url: "/genesis/restmetadata/get-enum-floors",
				type: "POST",
				//data: building,
				contentType: "application/json; charset=utf-8",
				dataType: 'json',
				async: true,
				success: function (result) {
					if (result.success == false) {
						if (result.code == 9002) {
							alert("参数错误");
						} else if (result.code == 9999) {
							alert("系统错误");
						}
					} else {
						//得到楼层list
						var list = result.module;
						//清空floors(除第一个)
						$('#floorSelection option').not(":first").remove();
						for (var i = 0; i < list.length; i++) {
							if(list[i] == detailFloor)
								$("#floorSelection").append("<option selected='selected' value="+i+">"+list[i]+"</option>");
							else
								$("#floorSelection").append("<option value="+i+">"+list[i]+"</option>");
						}
					}
				},
				error: function (e) {
					alert("异常");
				}
			});
		}

		function getUrl() {
			var url = location.search; //获取url中"?"符后的字串
            var theRequest = new Object();
            if (url.indexOf("?") != -1) {
                var str = url.substr(1);
                strs = str.split("&");
                for ( var i = 0; i < strs.length; i++) {
                    theRequest[strs[i].split("=")[0]] = unescape(strs[i].split("=")[1]);
                }
            }
            return theRequest;
		}

		function modify() {
			var building = $("#buildingSelection option:selected").text();
			var floor = $("#floorSelection option:selected").text();
			var theRequest = new Object();
			theRequest = getUrl();
			var id = theRequest["id"];
			if (building == '请选择...' || floor == '请选择...')
				return;
			$.ajax({
				url: "/genesis/restmetadata/modify-building-floor",
				type: "POST",
				data: JSON.stringify({
					"id": id,
					"building": building,
					"floor": floor,
				}),
				contentType: "application/json; charset=utf-8",
				dataType: 'json',
				async: true,
				success: function (result) {
					if (result.success == false) {
						if (result.code == 9999) {
							alert("系统错误");
						}
						else if (result.code == 1026) {
							alert("已存在该楼层，请重新选择");
						}
					} else {
						alert("修改成功！");
						var href = getHref(id);
						window.location.href = href;
					}
				},
				error: function (e) {
					alert("异常");
				}
			});
		}

		var url;
		function getHref(id) {
			$.ajax({
				url: "/genesis/restmetadata/get-building-floor-dm-detail-url",
				type: "POST",
				data: id,
				contentType: "application/json; charset=utf-8",
				dataType: 'json',
				async: false,
				success: function (result) {
					console.log(result);
					if (result.success == false) {
						if (result.code == 9002) {
							alert("参数错误");
						} else if (result.code == 9999) {
							alert("系统错误");
						}
					} else {
						url = result.module;
					}
				},
				error: function (e) {
					alert("异常");
				}
			});
			return url;
		}

		var detailBuilding;
		var detailFloor;
		function getDetail() {
			var theRequest = new Object();
			theRequest = getUrl();
			//获取id
			var id = theRequest["id"];
			$.ajax({
				url: "/genesis/restmetadata/get-buildingfloordo-by-id",
				type: "POST",
				data: id,
				contentType: "application/json; charset=utf-8",
				dataType: 'json',
				async: true,
				success: function (result) {
					if (result.success == false) {
						if (result.code == 9002) {
							alert("参数错误");
						} else if (result.code == 9999) {
							alert("系统错误");
						}
					} else {
						detailBuilding = result.module.building;
						detailFloor = result.module.floor;
					}
				},
				error: function (e) {
					alert("异常");
				}
			});
		}

		function fillHref(){
			var theRequest = new Object();
			theRequest = getUrl();
			var id = theRequest["id"];
			document.getElementById("building-floor-dm-detail-url").href = getHref(id);
		}
	</script>

	<div th:replace="component/footer-lib"></div>
</body>

</html>