<!doctype html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head th:replace="component/head :: head"></head>

<body onload="getYears();getProfessions();fillHref()">
    <header th:replace="component/header :: header"></header>

    <!-- Begin page content -->
    <div class="container">
        <div class="row">
            <div th:replace="component/sidebar"></div>

            <div class="col-md-9">
                <div th:replace="component/page-title::pageTitle('课程详情修改')"></div>

                <div class="row">
                    <div class="col-md-8 offset-md-2">
                        <div class="input-group mb-3">
                            <div class="input-group-prepend">
                                <span class="input-group-text" id="basic-addon3">课程号</span>
                            </div>
                            <input type="text" class="form-control" id="number" aria-describedby="basic-addon3">
                        </div>
                        <div class="input-group mb-3">
                            <div class="input-group-prepend">
                                <span class="input-group-text" id="basic-addon3">课程名称</span>
                            </div>
                            <input type="text" class="form-control" id="name" aria-describedby="basic-addon3">
                        </div>
                        <div class="input-group mb-3">
                            <div class="input-group-prepend">
                                <span class="input-group-text" id="year">开课学年</span>
                            </div>
                            <select class="form-control" id="yearSelection">
                                <option disabled="disabled">请选择...</option> <!-- 动态追加学年 -->
                            </select>
                        </div>
                        <div class="input-group mb-3">
                            <div class="input-group-prepend">
                                <span class="input-group-text" id="basic-addon3">开课学期</span>
                            </div>
                            <select class="form-control" id="termSelection">
                                <option disabled="disabled">请选择...</option>
                                <option>上学期</option>
                                <option>下学期</option>
                            </select>
                        </div>
                        <div class="input-group mb-3">
                            <div class="input-group-prepend">
                                <span class="input-group-text" id="basic-addon3">开课专业</span>
                            </div>
                            <select class="form-control" id="professionSelection">
                                <option disabled="disabled">请选择...</option> <!-- 动态追加专业 -->
                            </select>
                        </div>
                        <div class="input-group mb-3">
                            <div class="input-group-prepend">
                                <span class="input-group-text" id="basic-addon3">开课班级</span>
                            </div>
                            <input type="text" class="form-control" id="classes" aria-describedby="basic-addon3">
                        </div>
                        <div class="input-group mb-3">
                            <div class="input-group-prepend">
                                <span class="input-group-text" id="basic-addon3">课时数</span>
                            </div>
                            <input type="text" class="form-control" id="lessonSum" aria-describedby="basic-addon3">
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-8 offset-md-2">
                        <button onclick="modify()" type="button" class="btn btn-primary">保存</button>
                        <a href="#" class="modify-imformation btn btn-secondary" role="button" id="course-dm-detail-url">返回</a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <footer th:replace="component/footer :: footer"></footer>

    <script>
        function getYears() {
            detailYear = "";
            detailTerm = "";
            detailProfession="";
            getDetail();
            //获取数据库中的学年
            $.ajax({
                url: "/genesis/restmetadata/get-enum-years",
                type: "POST",
                contentType: "application/json; charset=utf-8",
                dataType: 'json',
                async: false,
                success: function (result) {
                    console.log(result);
                    if (result.success == false) {
                        if (result.code == 9002) {
                            alert("参数错误");
                        } else if (result.code == 9999) {
                            alert("系统错误");
                        }
                    } else {
                        //得到学年list
                        var list = result.module;
                        //清空学年(除第一个)
                        $('#yearSelection option').not(":first").remove();
                        for (var i = 0; i < list.length; i++) {
                            if (list[i] == detailYear) {
                                $("#yearSelection").append("<option selected='selected' value=" + i + ">" +
                                    list[i] + "</option>");
                            } else
                                $("#yearSelection").append("<option value=" + i + ">" + list[i] +
                                    "</option>");
                        }
                        selectTerm();
                    }
                },
                error: function (e) {
                    alert("异常");
                }
            });
        }

        function selectTerm() {
            var select = document.getElementById("termSelection");
            for (var i = 0; i < select.length; i++) {
                if (select[i].text == detailTerm)
                    select.options[i].selected = true;
            }
        }

        function getUrl() {
            var url = location.search; //获取url中"?"符后的字串
            var theRequest = new Object();
            if (url.indexOf("?") != -1) {
                var str = url.substr(1);
                strs = str.split("&");
                for (var i = 0; i < strs.length; i++) {
                    theRequest[strs[i].split("=")[0]] = unescape(strs[i].split("=")[1]);
                }
            }
            return theRequest;
        }

        var url;

        function getHref(id) {
            $.ajax({
                url: "/genesis/restmetadata/get-course-dm-detail-url",
                type: "POST",
                data: id,
                contentType: "application/json; charset=utf-8",
                dataType: 'json',
                async: false,
                success: function (result) {
                    console.log(result);
                    if (result.success == false) {
                        if (result.code == 9002) {
                            alert("参数错误");
                        } else if (result.code == 9999) {
                            alert("系统错误");
                        }
                    } else {
                        url = result.module;
                    }
                },
                error: function (e) {
                    alert("异常");
                }
            });
            return url;
        }

        function modify() {
            var termNumber;
            var number = $('#number').val();
            var name = $('#name').val();
            var year = $("#yearSelection option:selected").text();
            var term = $("#termSelection option:selected").text();
            var profession = $("#professionSelection option:selected").text();
            var classes = $('#classes').val();
            var lessonSum = $('#lessonSum').val();
            var theRequest = new Object();
            theRequest = getUrl();
            var id = theRequest["id"];
            if (year == '请选择...' || term == '请选择...')
                return;
            if (term == '上学期')
                termNumber = 0;
            if (term == '下学期')
                termNumber = 1;
            $.ajax({
                url: "/genesis/restmetadata/modify-course",
                type: "POST",
                data: JSON.stringify({
                    "id": id,
                    "year": year,
                    "term": termNumber,
                    "number": number,
                    "name": name,
                    "profession": profession,
                    "classId": classes,
                    "lessonSum": lessonSum
                }),
                contentType: "application/json; charset=utf-8",
                dataType: 'json',
                async: true,
                success: function (result) {
                    console.log(result);
                    if (result.success == false) {
                        if (result.code == 9002) {
                            alert("参数错误");
                        } else if (result.code == 9999) {
                            alert("系统错误");
                        }else if (result.code == 9001) {
                            alert("修改失败，数据无效");
                        }
                    } else {
                        alert("修改成功！");
                        var href = getHref(id);
                        window.location.href = href;
                    }
                },
                error: function (e) {
                    alert("异常");
                }
            });
        }

        var detailYear;
        var detailTerm;
		var detailProfession;
		
        function getDetail() {
            var theRequest = new Object();
            theRequest = getUrl();
            //获取id
            var id = theRequest["id"];
            $.ajax({
                url: "/genesis/restmetadata/get-coursedto-and-classes-vo-by-id",
                type: "POST",
                data: id,
                contentType: "application/json; charset=utf-8",
                dataType: 'json',
                async: false,
                success: function (result) {
                    if (result.success == false) {
                        if (result.code == 9002) {
                            alert("参数错误");
                        } else if (result.code == 9999) {
                            alert("系统错误");
                        }
                    } else {
                        document.getElementById('number').value = result.module.courseDTO.number;
                        document.getElementById('name').value = result.module.courseDTO.name;
                        //document.getElementById('profession').value = result.module.profession;
                        detailProfession = result.module.profession;
                        var classDOList = result.module.classDOList;
						var classes="";
						for(var j in classDOList){
							classes += classDOList[j].number;
							if(j < classDOList.length - 1)
								classes += ",";
						}
                        document.getElementById('classes').value = classes;
                        document.getElementById('lessonSum').value = result.module.courseDTO.lessonSum;
                        detailYear = result.module.courseDTO.year;
                        var term = result.module.courseDTO.term;
                        if (term == 0)
                            detailTerm = "上学期";
                        else if (term == 1)
                            detailTerm = "下学期";
                    }
                },
                error: function (e) {
                    alert("异常");
                }
            });
        }

        function fillHref() {
            var theRequest = new Object();
            theRequest = getUrl();
            var id = theRequest["id"];
            document.getElementById("course-dm-detail-url").href = getHref(id);
        }
        
        function getProfessions() {
        	 $.ajax({
                 url: "/genesis/restmetadata/get-professions",
                 type: "POST",
                 contentType: "application/json; charset=utf-8",
                 dataType: 'json',
                 async: false,
                 success: function (result) {
                     console.log(result);
                     if (result.success == false) {
                         if (result.code == 9002) {
                             alert("参数错误");
                         } else if (result.code == 9999) {
                             alert("系统错误");
                         }
                     } else {
                         //得到专业list
                         var list = result.module;
                         //清空专业(除第一个)
                         $('#professionSelection option').not(":first").remove();
                         for (var i = 0; i < list.length; i++) {
                             if (list[i] == detailProfession) {
                                 $("#professionSelection").append("<option selected='selected' value=" + i + ">" +
                                     list[i] + "</option>");
                             } else
                                 $("#professionSelection").append("<option value=" + i + ">" + list[i] +
                                     "</option>");
                         }
                     }
                 },
                 error: function (e) {
                     alert("异常");
                 }
             });
		}
    </script>

    <div th:replace="component/footer-lib"></div>
</body>

</html>