<!doctype html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head th:replace="component/head :: head"></head>

<body onload="getYears()">
	<header th:replace="component/header :: header"></header>

	<!-- Begin page content -->
	<div class="container">
		<div class="row">
			<div th:replace="component/sidebar"></div>

			<div class="col-md-9">
				<div th:replace="component/page-title::pageTitle('课程管理')"></div>

				<div class="row">
					<div class="col-md-4">
						<div class="dropdown">
							<div class="input-group">
								<div class="input-group-prepend">
									<label class="input-group-text" for="inputGroupSelect01-year">学年：</label>
								</div>
								<select class="custom-select" id="inputGroupSelect01-year">
									<option disabled="disabled" selected="selected">请选择...</option> <!-- 动态追加学年 -->
								</select>
							</div>
						</div>
					</div>
					<div class="col-md-4">
						<div class="dropdown">
							<div class="input-group">
								<div class="input-group-prepend">
									<label class="input-group-text" for="inputGroupSelect01-term">学期：</label>
								</div>
								<select class="custom-select" id="inputGroupSelect01-term" onclick="selectTerm();">
									<option disabled="disabled" selected="selected">请选择...</option>
									<option>上学期</option>
									<option>下学期</option>
								</select>
							</div>
						</div>
					</div>
				</div>

				<div class="row mt-3">
					<div class="col-md-12">
						<table id="listTable" class="table table-striped">
							<thead>
								<tr>
									<th scope="col">编号</th>
									<th scope="col">学年</th>
									<th scope="col">学期</th>
									<th scope="col">课程号</th>
									<th scope="col">课程名</th>
									<th scope="col">详情</th>
								</tr>
							</thead>
							<tbody>
								<!-- 动态追加tr -->
							</tbody>
						</table>
					</div>
				</div>
			</div>
		</div>
	</div>

	<footer th:replace="component/footer :: footer"></footer>

	<script>
		function getYears() {
			//获取数据库中的学年
			$.ajax({
				url: "/genesis/restmetadata/get-enum-years",
				type: "POST",
				contentType: "application/json; charset=utf-8",
				dataType: 'json',
				async: true,
				success: function (result) {
					console.log(result);
					if (result.success == false) {
						if (result.code == 9002) {
							alert("参数错误");
						} else if (result.code == 9999) {
							alert("系统错误");
						}
					} else {
						//得到学年list
						var list = result.module;
						//清空学年(除第一个)
						$('#inputGroupSelect01-year option').not(":first").remove();
						for (var i = 0; i < list.length; i++) {
							document.getElementById("inputGroupSelect01-year").options.add(new Option(list[i], i));
						}
					}
				},
				error: function (e) {
					alert("异常");
				}
			});
		}

		function selectTerm() {
			var year = $("#inputGroupSelect01-year option:selected").text();
			var term = $("#inputGroupSelect01-term option:selected").text();
			var termNumber;
			if (year == '请选择...' || term == '请选择...')
				return;
			else {

				if (term == '上学期')
					termNumber = 0;
				else if (term == '下学期')
					termNumber = 1;
				$.ajax({
					url: "/genesis/restmetadata/get-coursedto-and-url-vo-by-year-and-term",
					type: "POST",
					data: JSON.stringify({
						"year": year,
						"term": termNumber
					}),
					contentType: "application/json; charset=utf-8",
					dataType: 'json',
					async: true,
					success: function (result) {
						console.log(result);
						if (result.success == false) {
							if (result.code == 9002) {
								alert("参数错误");
							} else if (result.code == 9999) {
								alert("系统错误");
							}
						} else {
							var list = result.module;
							$("#listTable tbody").empty();
							for (var i = 0; i < list.length; i++) {
								var year = list[i].courseDTO.year;
								var termNumber = list[i].courseDTO.term;
								var number = list[i].courseDTO.number;
								var name = list[i].courseDTO.name;
								var id = list[i].courseDTO.id;
								var profession = list[i].courseDTO.profession;
								var classDOList = list[i].classDOList;
								var classes;
								var detailUrl = list[i].url;
								var lessonSum = list[i].courseDTO.lessonSum;
								var listId = i + 1;
								for(var j = 0; j < classDOList.length; j++){
									classes += classDOList[j].number;
									classes += ",";
								}
								var term;
								if (termNumber == 0)
									term = '上学期';
								else if (termNumber == 1)
									term = '下学期';
								$("#listTable tbody").append("<tr><th scope=\"row\">" + listId + "</th><td scope=\"row\">" + year + "</td><td>" +
									term + "</td><td>" + number + "</td><td>" + name + "</td><td> <a href=" + detailUrl + ">详情</a></td></tr>");
							}
						}
					},
					error: function (e) {
						alert("异常");
					}
				});
			}
		}
	</script>

	<div th:replace="component/footer-lib"></div>

</body>

</html>