<!doctype html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head th:replace="component/head :: head"></head>

<body onload="getAcademies()">
	<header th:replace="component/header :: header"></header>

	<!-- Begin page content -->
	<div class="container">

		<div class="row">
			<div th:replace="component/sidebar"></div>

			<div class="col-md-9">
				<div th:replace="component/page-title::pageTitle('学生管理')"></div>

				<div class="row">
					<div class="col-md-4">
						<div class="dropdown">
							<div class="input-group">
								<div class="input-group-prepend">
									<label class="input-group-text" for="inputGroupSelect-academy">二级学院</label>
								</div>
								<select class="custom-select" id="inputGroupSelect-academy" onclick="selectAcademy();"  autocomplete="off">
									<option disabled="disabled" selected="selected">请选择...</option> <!-- 动态追加学院 -->
								</select>
							</div>
						</div>
					</div>
					<div class="col-md-4">
						<div class="dropdown">
							<div class="input-group">
								<div class="input-group-prepend">
									<label class="input-group-text" for="inputGroupSelect-classes">班级</label>
								</div>
								<select class="custom-select" id="inputGroupSelect-classes" onclick="selectClasses();"  autocomplete="off">
									<option  selected="selected">请选择...</option> <!-- 动态追加班级 -->
								</select>
							</div>
						</div>
					</div>
				</div>

				<div class="row mt-3">
					<div class="col-md-12">
						<table id="listTable" class="table table-striped">
							<thead>
								<tr>
									<th scope="col">编号</th>
									<th scope="col">学院</th>
									<th scope="col">班级</th>
									<th scope="col">学号</th>
									<th scope="col">姓名</th>
									<th scope="col">详情</th>
								</tr>
							</thead>
							<tbody>
								<!-- 动态追加tr -->
							</tbody>
						</table>
					</div>
				</div>
			</div>
		</div>
	</div>

	<footer th:replace="component/footer :: footer"></footer>

	<script>
		function getAcademies() {
			//获取数据库中的学院
			$.ajax({
				url: "/genesis/restmetadata/get-academies",
				type: "POST",
				contentType: "application/json; charset=utf-8",
				dataType: 'json',
				async: true,
				success: function (result) {
					console.log(result);
					if (result.success == false) {
						if (result.code == 9002) {
							alert("参数错误");
						} else if (result.code == 9999) {
							alert("系统错误");
						}
					} else {
						//得到学院list
						var list = result.module;
						//清空academy(除第一个)
						$('#inputGroupSelect-academy option').not(":first").remove();
						for (var i = 0; i < list.length; i++) {
							document.getElementById("inputGroupSelect-academy").options.add(new Option(list[i], i));
						}
					}
				},
				error: function (e) {
					alert("getAcademies异常");
				}
			});
		}

		function selectAcademy() {
			$("#listTable tbody").empty();
			//获取select选中的text
			var academy = $("#inputGroupSelect-academy option:selected").text();
			if (academy == '请选择...')
				return;
			$.ajax({
				url: "/genesis/restmetadata/get-classes-by-academy",
				type: "POST",
				data: academy,
				contentType: "application/json; charset=utf-8",
				dataType: 'json',
				async: true,
				success: function (result) {
					console.log(result);
					if (result.success == false) {
						if (result.code == 9002) {
							alert("参数错误");
						} else if (result.code == 9999) {
							alert("系统错误");
						}
					} else {
						//得到班级list
						var list = result.module;
						//清空classes(除第一个)
						$('#inputGroupSelect-classes option').not(":first").remove();
						for (var i = 0; i < list.length; i++) {
							document.getElementById("inputGroupSelect-classes").options.add(new Option(list[i], i));
						}
					}
				},
				error: function (e) {
					alert("selectAcademy异常");
				}
			});
		}

		function selectClasses() {
			var academy = $("#inputGroupSelect-academy option:selected").text();
			var classes = $("#inputGroupSelect-classes option:selected").text();
			if (academy == '请选择...' || classes == '请选择...')
				return;
			else {
				$.ajax({
					url: "/genesis/restmetadata/get-studentdo-by-academy-and-classes-vo",
					type: "POST",
					data: JSON.stringify({
						"academy": academy,
						"classes": classes
					}),
					contentType: "application/json; charset=utf-8",
					dataType: 'json',
					async: true,
					success: function (result) {
						if (result.success == false) {
							if (result.code == 9002) {
								alert("参数错误");
							} else if (result.code == 9999) {
								alert("系统错误");
							}
						} else {
							var list = result.module;
							$("#listTable tbody").empty();
							for (var i = 0; i < list.length; i++) {
								var number = list[i].userDO.number;
								var name = list[i].userDO.name;
								var sex = list[i].userDO.sex;
								var idCardNumber = list[i].userDO.idCardNumber;
								var phone = list[i].userDO.phone;
								var mail = list[i].userDO.mail;
								var picture = list[i].userDO.picture;
								var faceToken = list[i].userDO.faceToken;
								var id = list[i].userDO.id;
								var detailUrl = list[i].url;
								var listId = i + 1;
								$("#listTable tbody").append("<tr><th scope=\"row\">" + listId + "</th><td>" + academy + "</td><td>" + classes + "</td><td>" +
									number + "</td><td>" + name + "</td><td> <a href=" + detailUrl + ">详情</a></td></tr>");
							}
						}
					},
					error: function (e) {
						alert("selectClasses异常");
					}
				});
			}
		}
	</script>

	<div th:replace="component/footer-lib"></div>
</body>

</html>