<!-- Bootstrap core JavaScript
	================================================== -->
<!-- Placed at the end of the document so the pages load faster -->

<script src="https://cdn.bootcss.com/jquery/3.3.1/jquery.min.js"></script>
<script src="https://cdn.bootcss.com/popper.js/1.14.6/umd/popper.min.js"></script>
<script src="https://cdn.bootcss.com/twitter-bootstrap/4.2.1/js/bootstrap.min.js"></script>
<script src="https://cdn.bootcss.com/bootstrap-fileinput/5.0.1/js/fileinput.min.js"></script>
<script th:src="@{/vendor/jquery/jquery.min.js}" type="javascript"></script>
<script th:src="@{/vendor/popper.js/umd/popper.min.js}" type="javascript"> </script>
<script th:src="@{/vendor/bootstrap/js/bootstrap.min.js}" type="javascript"></script>
<script th:src="@{/vendor/jquery.cookie/jquery.cookie.js}" type="javascript"> </script>
<script th:src="@{/vendor/chart.js/Chart.min.js}" type="javascript"></script>
<script th:src="@{/vendor/jquery-validation/jquery.validate.min.js}" type="javascript"></script>
<!-- Main File-->
<script th:src="@{/js/front.js}" type="javascript"></script>
<!-- End page content -->
<!-- end footer lib -->
