<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head th:replace="component/head :: head"></head>

<body onload="showMySchedule()">
	<header th:replace="component/header :: header"></header>

	<!-- Begin page content -->
	<div class="container">
		<div class="row">
			<div th:replace="component/sidebar"></div>

			<div class="col-md-9">
				<div th:replace="component/page-title::pageTitle('我的课表')"></div>

				<div class="row">
					<div class="col-md-12">
						<table id="listTable" class="table table-striped">
							<thead>
								<tr>
									<th scope="col">编号</th>
									<th scope="col">课程名称</th>
									<th scope="col">上课地点</th>
									<th scope="col">上课时间</th>
									<th scope="col">授课老师</th>
								</tr>
							</thead>
							<tbody>
								<!-- 动态追加tr -->
							</tbody>
						</table>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- End page content -->

	<footer th:replace="component/footer :: footer"></footer>

	<script type="text/javascript">
		function showMySchedule() {
			$.ajax({
				url: "/genesis/resttimetable/get-timetable-4-student",
				type: "POST",
				contentType: "application/json; charset=utf-8",
				dataType: 'json',
				success: function (result) {
					if (result.success == false) {
						if (result.code == 9002) {
							alert("参数非法");
							return;
						}
						if (result.code == 9999) {
							alert("系统错误");
							return;
						}
						if (result.code == 9001) {
							alert("查询错误");
							return;
						}
					} else {
						var scheduleList = result.module;
						console.log(scheduleList);
						//渲染
						$("#listTable tbody").empty();
						if (scheduleList.length > 0) {
							for (var i = 0; i < scheduleList.length; i++) {
								var id = scheduleList[i].lessonDO.id;
								var courseName = scheduleList[i].courseDO.name;
								var classroom = scheduleList[i].classroomDO.number;
								var begin = new Date(scheduleList[i].lessonDO.begin).toJSON();
								var beginTime = new Date(+new Date(begin)+28800000).toISOString().replace(/T/g, ' ').replace(/.[\d]{3}Z/,
									' '); //格式、时间差改正
								var teacher = scheduleList[i].teacherName;
								var listId = i + 1;
								$("#listTable tbody").append("<tr><th scope=\"row\">" + listId + "</th><td>" + courseName + "</td><td>" +
									classroom + "</td><td>" + beginTime + "</td><td>" + teacher + "</td></tr>");
							}
						}
					}
				},

				error: function (e) {
					console.log(e);
					alert("调用失败 ");
				}
			});
		}
	</script>

	<div th:replace="component/footer-lib"></div>
</body>

</html>