<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:shiro="http://www.pollix.at/thymeleaf/shiro"
	xmlns:th="http://www.thymeleaf.org">
<style>
.td {
	width: 20%;
}
</style>
<head th:replace="component/head :: head"></head>

<body>
	<header th:replace="component/header :: header"></header>

	<!-- Begin page content -->
	<div class="container">
		<div class="row">
			<div th:replace="component/sidebar"></div>
			<div class="col-md-9">
				<div th:replace="component/page-title::pageTitle('状态检测')"></div>
				<div class="form-group row">
					<div class="card offset-md-2" style="width: 32rem;">
						<video class="card-img-top" src="" alt="Card image cap"></video>
						<div class="card-body text-center">
							<button class="btn btn-secondary"
								onclick="checkState();checkKnowledge();">开始检测</button>
							<p class="card-text">
								<small class="text-muted">每两分钟更新一次</small>
							</p>
						</div>
					</div>
					<div class="col-md-12">
						<table id="listTable" class="table table-striped">
							<thead>
								<tr>
									<th scope="col">学号</th>
									<th scope="col">姓名</th>
									<th scope="col">检测状态</th>
									<th scope="col">检测时间</th>
									<th scope="col">更多</th>
								</tr>
							</thead>
							<tbody id="listTable">

								<!-- 动态追加 -->

							</tbody>
						</table>
					</div>
				</div>
			</div>
		</div>
		<script type="text/javascript">
			function checkState() {
				$.ajax({
					url : "/genesis/restfacefunction/check-state",
					type : "POST",
					contentType : "application/json; charset=utf-8",
					dataType : 'json',
					success : function(result) {
						if (result.success == false) {
							if (result.code == 9002) {
								alert("参数非法");
								return;
							}
							if (result.code == 9999) {
								alert("系统错误");
								return;
							}
							if (result.code == 9001) {
								alert("数据库错误");
								return;
							}
							if (result.code == 1031) {
								alert("无授课计划，无法进行状态检测");
								return;
							}
							if (result.code == 1030) {
								alert("不在上课，无法进行状态检测");
								return;
							}
							if (result.code == 1032) {
								alert("正在检测，请勿重复点击");
								return;
							}
						} else {
							alert("开始检测，请耐心等待");
						}
					},

					error : function(e) {
						console.log(e);
						alert("调用失败 ");
					}
				});
			}

			function getStates() {
				$.ajax({
					url : "/genesis/restfacefunction/get-student-state-vo",
					type : "POST",
					contentType : "application/json; charset=utf-8",
					dataType : 'json',
					success : function(result) {
						if (result.success == false) {
							if (result.code == 9002) {
								alert("参数非法");
								setTimeout(getStates, 1000 * 60 * 5);
							}
							if (result.code == 9999) {
								alert("系统错误");
								setTimeout(getStates, 1000 * 60 * 5);
							}
							if (result.code == 9001) {
								alert("学生状态暂时还无数据");
								setTimeout(getStates, 1000 * 60 * 5);
							}
							if (result.code == 1031) {
								alert("无授课计划，无法查看");
								setTimeout(getStates, 1000 * 60 * 5);
							}
							if (result.code == 1030) {
								alert("不在上课，无法查看");
								setTimeout(getStates, 1000 * 60 * 5);
							}
						} else {
							console.log(result.module);
							writeObj(result.module);
						}
					},

					error : function(e) {
						console.log(e);
						alert("调用失败 ");
					}
				});
			}

			function writeObj(obj) {
				//清空主列表
				$("#listTable tbody").empty();
				for ( var key in obj) {
					var list = obj[key];
					//主列表只显示一条信息
					var div = getProgressDiv(list);
					var time = getTime(list[0].studentStateDO.scanStartTime);
					var modal = getModal(key);
					$("#listTable #listTable").append(
							"<tr><th scope=\"row\">" + list[0].number
									+ "</th><td>" + list[0].name + "</td>"
									+ div + "<td>" + time + "</td>" + modal
									+ "</tr>");
					$("#detailTable" + key + " #detailTbody" + key + " ")
							.empty();
					writeModal(key, list);
				}
			}

			function getTime(time) {
				var begin = new Date(time).toJSON();
				var beginTime = new Date(+new Date(begin) - 18000000)
						.toISOString().replace(/T/g, ' ').replace(/.[\d]{3}Z/,
								' ');//格式、时间差改正
				return beginTime;
			}

			function getProgressDiv(list) {
				var result = "";
				var length = list.length;
				var cnt = 0;
				for ( var i in list) {
					if (list[i].studentStateDO.state == 1)//认真听课
						cnt++;
				}
				//计算百分比
				var listeningProperty = ((cnt / length) * 100) + "%";
				var otherProperty = ((1 - cnt / length) * 100) + "%";
				//拼接html
				result += "<td class=\"text-danger\"><div class=\"progress\"><div class=\"progress-bar\" role=\"progressbar\" style=\"width:"+listeningProperty +" \" aria-valuenow=\"50\" aria-valuemin=\"0\" aria-valuemax=\"100\"\"></div><div class=\"progress-bar bg-danger\" role=\"progressbar\" style=\"width:"+ otherProperty +"\" aria-valuenow=\"50\" aria-valuemin=\"0\" aria-valuemax=\"100\"></div></div></td>";
				return result;
			}

			function getModal(userId) {
				var result = "";
				result += "<td><button class=\"btn btn-primary\" data-toggle=\"modal\" data-target=\"#myModal"+userId+"\">更多记录</button><div class=\"modal fade\" id=\"myModal"+userId+"\" tabindex=\"-1\" role=\"dialog\" aria-labelledby=\"myModalLabel\" aria-hidden=\"true\"><div class=\"modal-dialog\"> <div class=\"modal-content\"><div class=\"modal-header\"><button type=\"button\" class=\"close\ data-dismiss=\"modal\" aria-hidden=\"true\">&times;</button><h4 class=\"modal-title\" id=\"myModalLabel\">该学生在本课程的上课状态检测记录</h4></div><div class=\"modal-body\"><table class=\"table tabble-striped\" id=\"detailTable"+ userId+"\"><thead><tr><th scope=\"col\"学号</th><th scope=\"col\">姓名</th><th scope=\"col\">检测状态</th><th scope=\"col\">检测时间</th></tr></thead><tbody id=\"detailTbody"+userId+"\"></tbody></table></div><div class=\"modal-footer\"><button type=\"button\" class=\"btn btn-default\" data-dismiss=\"modal\">关闭</button></div></div></div></div></td>";
				return result;
			}

			function writeModal(userId, list) {
				$("#detailTable" + userId + " #detailTbody" + userId + " ")
						.empty();
				for ( var i in list) {
					if (list[i].studentStateDO.state == 1)//认真听课
						$(
								"#detailTable" + userId + " #detailTbody"
										+ userId + " ")
								.append(
										"<tr><th>"
												+ list[i].number
												+ "</th><td>"
												+ list[i].name
												+ "</td><td>认真听课</td><td>"
												+ getTime(list[i].studentStateDO.scanStartTime)
												+ "</td></tr>");

					else if (list[i].studentStateDO.state == 2)//玩手机
						$(
								"#detailTable" + userId + " #detailTbody"
										+ userId + " ")
								.append(
										"<tr><th>"
												+ list[i].number
												+ "</th><td>"
												+ list[i].name
												+ "</td><td class=\"text-danger\">玩手机</td><td>"
												+ getTime(list[i].studentStateDO.scanStartTime)
												+ "</td></tr>");

					else if (list[i].studentStateDO.state == 3)//发呆
						$(
								"#detailTable" + userId + " #detailTbody"
										+ userId + " ")
								.append(
										"<tr><th>"
												+ list[i].number
												+ "</th><td>"
												+ list[i].name
												+ "</td><td class=\"text-danger\">发呆</td><td>"
												+ getTime(list[i].studentStateDO.scanStartTime)
												+ "</td></tr>");

					else if (list[i].studentStateDO.state == 4)//睡觉
						$(
								"#detailTable" + userId + " #detailTbody"
										+ userId + " ")
								.append(
										"<tr><th>"
												+ list[i].number
												+ "</th><td>"
												+ list[i].name
												+ "</td><td class=\"text-danger\">睡觉</td><td>"
												+ getTime(list[i].studentStateDO.scanStartTime)
												+ "</td></tr>");
				}
			}

			//两分钟更新一次状态
			setTimeout(getStates, 1000 * 60 * 2);

			function checkKnowledge() {
				$.ajax({
					url : "/genesis/restfacefunction/check-knowledge",
					type : "POST",
					contentType : "application/json; charset=utf-8",
					dataType : 'json',
					success : function(result) {
						if (result.success == false) {
							if (result.code == 9002) {

								return;
							}
							if (result.code == 9999) {

								return;
							}
							if (result.code == 9001) {

								return;
							}
							if (result.code == 1031) {

								return;
							}
							if (result.code == 1030) {

								return;
							}
							if (result.code == 1032) {
								return;
							}
						} else {

						}
					},

					error : function(e) {
						console.log(e);
						alert("调用失败 ");
					}
				});
			}
		</script>
		<div th:replace="component/footer-lib"></div>
		<footer th:replace="component/footer :: footer"></footer>
</body>
</html>