<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:shiro="http://www.pollix.at/thymeleaf/shiro"
	xmlns:th="http://www.thymeleaf.org">

<head th:replace="component/head :: head"></head>
<script src="http://code.jquery.com/jquery-latest.js"></script>

<body onload="getYears()">
	<header th:replace="component/header :: header"></header>

	<!-- Begin page content -->
	<div class="container">
		<div class="row">
			<div th:replace="component/sidebar"></div>

			<div class="col-md-9">
				<div th:replace="component/page-title::pageTitle('教师-教室申请')"></div>

				<div class="row">
					<div class="col-md-12">
							<div class="form-group row">
								<div class="col-md-4">
									<div class="dropdown">
										<div class="input-group">
											<div class="input-group-prepend">
												<label class="input-group-text" for="year">学年</label>
											</div> 
											<select class="custom-select year01" id="year" autocomplete="off">
												<option disabled="disabled" selected="selected">请选择</option><!-- 动态追加学年 -->
											</select>
										</div>
									</div>
								</div>
								<div class="col-md-4">
									<div class="dropdown">
										<div class="input-group">
											<div class="input-group-prepend">
												<label class="input-group-text" for="term">学期</label>
											</div>
											<select class="custom-select term01" id="term" onchange="selectTerm();" autocomplete="off">
												<option disabled="disabled" selected="selected">请选择...</option>
												<option>第一学期</option>
												<option>第二学期</option>
											</select>
										</div>
									</div>
								</div>
								<div class="col-md-4">
									<div class="dropdown">
										<div class="input-group">
											<div class="input-group-prepend">
												<label class="input-group-text" for="course">课程</label>
											</div>
											<select class="custom-select course01" id="course" onchange="selectCourse();" autocomplete="off">
												<option disabled="disabled" selected="selected">请选择</option><!-- 动态追加课程 -->
											</select>
										</div>
									</div>
								</div>
								<div class="col-md-4">
									<div class="dropdown">
										<div class="input-group">
											<div class="input-group-prepend">
												<label class="input-group-text" for="number">课时</label>
											</div>
											<select class="custom-select number01" id="number"  autocomplete="off">
												<option disabled="disabled" selected="selected">请选择</option><!-- 动态追加课时 -->
											</select>
										</div>
									</div>
								</div>
								<div class="col-md-4">
									<div class="dropdown">
										<div class="input-group">
											<div class="input-group-prepend">
												<label class="input-group-text" for="date">日期</label>
											</div>
											<input id="date"  type="date" value="2019-05-18" style="padding-left: 12px;padding-right: 28px;width: 196px;height: 38px;border-width: 1px;padding-bottom: 6px;padding-top: 6px;">
										</div>
									</div>
								</div>
								<div class="col-md-4">
									<div class="dropdown">
										<div class="input-group">
											<div class="input-group-prepend">
												<label class="input-group-text" for="section">节次</label>
											</div>
											<select class="custom-select date01" id="section" autocomplete="off">
												<option selected="selected">请选择</option>
												<option>1,2</option>
												<option>3,4</option>
												<option>5,6</option>
												<option>7,8</option>
												<option>9,10</option>
											</select>
										</div>
									</div>
								</div>
								
							</div>
							<div class="form-group row">
								<div class="col-md-4 offset-md-4">
									<button onclick="confirm();" type="submit" class="btn btn-primary btn-block">确定</button>
								</div>
							</div>
					</div>
				</div>
				<div class="row mt-3">
					<div class="col-md-12">
						<table id="listTable" class="table table-striped">
							<thead>
								<tr>
									<th scope="col">编号</th>
									<th scope="col">楼号</th>
									<th scope="col">楼层</th>
									<th scope="col">教室</th>
									<th scope="col">申请</th>
								</tr>
							</thead>
							<tbody>
								<!-- 动态追加tr -->
							</tbody>
						</table>
					</div>
				</div>
			</div>
		</div>
	</div>

	<footer th:replace="component/footer :: footer"></footer>


	<script th:inline="javascript">
		function getYears() {
			//获取数据库中的课程
			$.ajax({
				url: "/genesis/restapplyforclassroom/get-years",
				type: "POST",
				contentType: "application/json; charset=utf-8",
				dataType: 'json',
				async: true,
				success: function (result) {
					if (result.success == false) {
						if (result.code == 9002) {
							alert("参数错误");
						} else if (result.code == 9999) {
							alert("系统错误");
						}
					} else {
						//得到学年list
						var list = result.module;
						//清空year(除第一个)
						$('#year').not(":first").remove();
						for (var i = 0; i < list.length; i++) {
							document.getElementById("year").options.add(new Option(list[i], i));
						}
					}
				},
				error: function (e) {
					alert("getYears异常");
				}
			});
		}
		
		function selectYear() {
			//获取select选中的text
			var year = $("#year option:selected").text();
			$.ajax({
				url: "/genesis/restapplyforclassroom/get-term-by-year",
				type: "POST",
				data: year,
				contentType: "application/json; charset=utf-8",
				dataType: 'json',
				async: true,
				success: function (result) {
					if (result.success == false) {
						if (result.code == 9002) {
							alert("参数错误");
						} else if (result.code == 9999) {
							alert("系统错误");
						}
					} else {
						//得到学期list
						var list = result.module;
						//清空course(除第一个)
						$('#course option').not(":first").remove();
						for (var i = 0; i < list.length; i++) {
							if(list[i] == 0){
								document.getElementById("term").options.add(new Option("第一学期", i));
							} else {
								document.getElementById("term").options.add(new Option("第二学期", i));
							}
						}
					}
				},
				error: function (e) {
					alert("selectYear异常");
				}
			});
		}
		
		function selectTerm() {
			//获取select选中的text
			var year = $("#year option:selected").text();
			var term = $("#term option:selected").text();
			var termNumber;
            if(term == '第一学期')
        	   	termNumber = 0;
            else if (term == '第二学期') 
				termNumber = 1;
			$.ajax({
				url: "/genesis/restapplyforclassroom/get-course-by-year-and-term",
				type: "POST",
				data: JSON.stringify({"year":year,"term":termNumber}),
				contentType: "application/json; charset=utf-8",
				dataType: 'json',
				async: true,
				success: function (result) {
					if (result.success == false) {
						if (result.code == 9002) {
							alert("参数错误");
						} else if (result.code == 9999) {
							alert("系统错误");
						}
					} else {
						//得到课程list
						var list = result.module;
						//清空course(除第一个)
						$('#course option').not(":first").remove();
						for (var i = 0; i < list.length; i++) {
							document.getElementById("course").options.add(new Option(list[i], i));
						}
					}
				},
				error: function (e) {
					alert("selectTerm异常");
				}
			});
		}
		
		function selectCourse() {
			var year = $("#year option:selected").text();
			var term = $("#term option:selected").text();
			var course = $("#course option:selected").text();
			if(term == '第一学期')
        	   	termNumber = 0;
            else if (term == '第二学期') 
				termNumber = 1;
			$.ajax({
				url: "/genesis/restapplyforclassroom/get-coursedo-by-year-and-term-and-course",
				type: "POST",
				data: JSON.stringify({
					"year":year,
					"term":termNumber,
					"courseName":course
					}),
				contentType: "application/json; charset=utf-8",
				dataType: 'json',
				async: true,
				success: function (result) {
					if (result.success == false) {
						if (result.code == 9002) {
							alert("参数错误");
						} else if (result.code == 9999) {
							alert("系统错误");
						}else if (result.code == 1010) {
							alert("无当前课程");
						}
					} else {
						var courseDO = result.module;
						//清空number(除第一个)
						$('#number option').not(":first").remove();
						var lessonSum = courseDO.lessonSum;
						for(var j = 0; j < lessonSum; j++){
							document.getElementById("number").options.add(new Option(j+1, j));
						}	
					}
				},
				error: function (e) {
					alert("selectCourse异常");
				}
			});
		}
		
		function applyClassroom(obj, classroomId) {
			var teacherId = [[${userId}]];			
			var str = obj.id;
			var array = str.split("/");
			var classroomId = array[0];
			var date = array[1];
			var time = array[2];
			var lessonTime = date + " " + time;
			var courseName = $("#course option:selected").text();
			var number = $("#number option:selected").text();
			$.ajax({
				url: "/genesis/restapplyforclassroom/apply-classroom",
				type: "POST",
				data: JSON.stringify({
					"teacherId":teacherId,
					"courseName":courseName,
					"number":number,
					"classroomId":classroomId,
					"lessonTime":lessonTime
					}),
				contentType: "application/json; charset=utf-8",
				dataType: 'json',
				async: true,
				success: function (result) {
					if (result.success == false) {
						if (result.code == 9002) {
							alert("参数错误");
						} else if (result.code == 9999) {
							alert("系统错误");
						}else if (result.code == 9001) {
							alert("该课时已申请过，请重新选择");
						}
					} else {
						window.location.href='/genesis/user/apply-classroom-success.html';// 跳转到申请成功页面
					}
				},
				error: function (e) {
					alert("applyClassroom异常");
				}
			});
		}
		
		function confirm() {
			$("#listTable tbody").empty();
			var year = $("#year option:selected").text();
			var term = $("#term option:selected").text();
			var course = $("#course option:selected").text();
			var number = $("#number option:selected").text();
			var date = $("#date").val();			
			var section = $("#section option:selected").text();
			var time;
			if(section == '1,2') {
				time = "08:00:00";
			} else if(section == '3,4') {
				time = "10:00:00";
			} else if(section == '5,6') {
				time = "14:00:00";
			} else if(section == '7,8') {
				time = "16:00:00";
			} else if(section == '9,10') {
				time = "19:00:00";
			}		
			var lessonTime = date + " " + time;

			if (year == '请选择...' || term == '请选择...' || course == '请选择...' || number == '请选择...')
				return;
			else {
				$.ajax({
					url: "/genesis/restapplyforclassroom/get-freeclassroomdo-and-building-and-floorvo-by-lessontime",
					type: "POST",
					data: lessonTime,
					contentType: "application/json; charset=utf-8",
					dataType: 'json',
					async: true,
					success: function (result) {
						if (result.success == false) {
							if (result.code == 9002) {
								alert("参数错误");
							} else if (result.code == 9999) {
								alert("系统错误");
							}
						} else {
							var voList = result.module;
							$("#listTable tbody").empty();
							for (var i = 0; i < voList.length; i++) {
								var listId = i + 1;
								var building = voList[i].building;
	    						var floor = voList[i].floor;	
	    						var number = voList[i].classroomDO.number;
	    						var classroomId = voList[i].classroomDO.id;
								$("#listTable tbody").append("<tr><th scope=\"row\">" + listId + "</th><td>" + building + "</td><td>" +
									floor + "</td><td>" + number + "</td><td> <button id='" + classroomId + "/" + date + "/" + time + " ' onclick='applyClassroom(this)'>申请</button></td></tr>");
							}
						}
					},
					error: function (e) {
						alert("confirm异常");
					}
				});
			}
		}
	</script>
	
	<div th:replace="component/footer-lib"></div>
</body>
</html>