<!doctype html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head th:replace="component/head :: head"></head>

<body onload="getRequest();fillHref()">
	<header th:replace="component/header :: header"></header>

	<!-- Begin page content -->
	<div class="container">

		<div class="row">
			<div th:replace="component/sidebar"></div>

			<div class="col-md-9">
				<div th:replace="component/page-title::pageTitle('课程详情')"></div>
				<div class="row">
					<div class="input-group mb-3">
						<div class="input-group-prepend">
							<span class="input-group-text" id="basic-addon3">课程号</span>
						</div>
						<input type="text" disabled="disabled" class="form-control" id="basic-url-number" aria-describedby="basic-addon3">
					</div>
					<div class="input-group mb-3">
						<div class="input-group-prepend">
							<span class="input-group-text" id="basic-addon3">课程名称</span>
						</div>
						<input type="text" disabled="disabled" class="form-control" id="basic-url-name" aria-describedby="basic-addon3">
					</div>
					<div class="input-group mb-3">
						<div class="input-group-prepend">
							<span class="input-group-text" id="basic-addon3">开课学年</span>
						</div>
						<input type="text" disabled="disabled" class="form-control" id="basic-url-year" aria-describedby="basic-addon3">
					</div>
					<div class="input-group mb-3">
						<div class="input-group-prepend">
							<span class="input-group-text" id="basic-addon3">开课学期</span>
						</div>
						<input type="text" disabled="disabled" class="form-control" id="basic-url-term" aria-describedby="basic-addon3">
					</div>
					<div class="input-group mb-3">
						<div class="input-group-prepend">
							<span class="input-group-text" id="basic-addon3">开课专业</span>
						</div>
						<input type="text" disabled="disabled" class="form-control" id="basic-url-profession" aria-describedby="basic-addon3">
					</div>
					<div class="input-group mb-3">
						<div class="input-group-prepend">
							<span class="input-group-text" id="basic-addon3">开课班级</span>
						</div>
						<input type="text" disabled="disabled" class="form-control" id="basic-url-classes" aria-describedby="basic-addon3">
					</div>
					<div class="input-group mb-3">
						<div class="input-group-prepend">
							<span class="input-group-text" id="basic-addon3">课时数</span>
						</div>
						<input type="text" disabled="disabled" class="form-control" id="basic-url-lessonSum" aria-describedby="basic-addon3">
					</div>
					<div class="input-group mb-3">
						<div class="input-group-prepend">
							<span class="input-group-text" id="basic-addon3">出勤率</span>
						</div>
						<input type="text" disabled="disabled" class="form-control" id="basic-url-attendanceRate" aria-describedby="basic-addon3">
					</div>
					<div class="input-group mb-3">
						<div class="input-group-prepend">
							<span class="input-group-text" id="basic-addon3">教学质量评分</span>
						</div>
						<input type="text" disabled="disabled" class="form-control" id="basic-url-score" aria-describedby="basic-addon3">
					</div>
					<button onclick="getEveryStudentDetail()">出勤情况及听课质量详情</button>
					<div class="col-12 tm-block-col">
						<div class="tm-bg-primary-dark tm-block tm-block-taller tm-block-scroll">
							<table id="addListTable" class="table table-striped" style="margin-top: 40px">
								<thead>
									<tr>
										<th scope="col">编号</th>
										<th scope="col">学院</th>
										<th scope="col">班级</th>
										<th scope="col">学号</th>
										<th scope="col">姓名</th>
										<th scope="col">性别</th>
										<th scope="col">出勤率</th>
										<th scope="col">听课质量评分</th>
									</tr>
								</thead>
								<tbody>
									<!-- 动态追加tr -->
								</tbody>
							</table>
						</div>
					</div>
					<a href="#" class="btn btn-primary" role="button" id="course-details-list">返回</a>
				</div>
			</div>
		</div>
	</div>
	<footer th:replace="component/footer :: footer"></footer>

	<script>
		function getUrl() {
			var url = location.search; //获取url中"?"符后的字串
			var theRequest = new Object();
			if (url.indexOf("?") != -1) {
				var str = url.substr(1);
				strs = str.split("&");
				for (var i = 0; i < strs.length; i++) {
					theRequest[strs[i].split("=")[0]] = unescape(strs[i].split("=")[1]);
				}
			}
			return theRequest;
		}

		function getRequest() {
			var theRequest = new Object();
			theRequest = getUrl();
			var courseId = theRequest["id"];
			$.ajax({
				url: "/genesis/restdetails/get-course-and-attendancerate-and-scorevo-by-courseid",
				type: "POST",
				data: courseId,
				contentType: "application/json; charset=utf-8",
				dataType: 'json',
				async: true,
				success: function (result) {
					if (result.success == false) {
						if (result.code == 9002) {
							alert("参数错误");
						} else if (result.code == 9999) {
							alert("系统错误");
						} else if (result.code == 1025) {
							alert("数据库中缺少相关数据,部分数据无法获得");
						}
					} else {
						var vo = result.module;
						document.getElementById('basic-url-number').value = vo.courseDTO.number;
						document.getElementById('basic-url-name').value = vo.courseDTO.name;
						document.getElementById('basic-url-year').value = vo.courseDTO.year;
						var term = vo.courseDTO.term;
						var termText;
						if (term == 0)
							termText = "上学期";
						else if (term == 1)
							termText = "下学期";
						document.getElementById('basic-url-term').value = termText;
						document.getElementById('basic-url-profession').value = vo.profession;
						var classNameList = vo.classNameList;
						var className = "";
						for (var i = 0; i < classNameList.length; i++) {
							className = className + " " + classNameList[i];
						}
						document.getElementById('basic-url-classes').value = className;
						document.getElementById('basic-url-lessonSum').value = vo.courseDTO.lessonSum;
						document.getElementById('basic-url-attendanceRate').value = vo.attendanceRate;
						document.getElementById('basic-url-score').value = vo.score;
					}
				},
				error: function (e) {
					alert("异常");
				}
			});
		}

		function getEveryStudentDetail() {
			var theRequest = new Object();
			theRequest = getUrl();
			var courseId = theRequest["id"];
			$.ajax({
				url: "/genesis/restdetails/get-every-student-attendance-detail-by-courseid",
				type: "POST",
				data: courseId,
				contentType: "application/json; charset=utf-8",
				dataType: 'json',
				async: true,
				success: function (result) {
					console.log(result);
					if (result.success == false) {
						if (result.code == 9002) {
							alert("参数错误");
						} else if (result.code == 9999) {
							alert("系统错误");
						} else if (result.code == 1025) {
							alert("数据库中缺少相关数据,部分数据无法获得");
						}
					} else {
						var list = result.module;
						$("#addListTable tbody").empty();
						for (var i = 0; i < list.length; i++) {
							var academy = list[i].academyName;
							var classNumber = list[i].classNumber;
							var number = list[i].userDO.number;
							var name = list[i].userDO.name;
							var sex = list[i].userDO.sex;
							var attendanceRate = list[i].attendanceRate;
							var score = list[i].score;
							var listId = i + 1;
							$("#addListTable tbody").append("<tr><th scope=\"row\">" + listId +
								"</th><td>" + academy +
								"</th><td>" + classNumber +
								"</td><td>" + number +
								"</td><td>" + name +
								"</td><td>" + sex +
								"</td><td>" + attendanceRate +
								"</td><td>" + score + "</td></tr>");
						}
					}
				},
				error: function (e) {
					alert("异常");
				}
			});

		}

		function fillHref() {
			document.getElementById("course-details-list").href = "/genesis/teaching/course-details-list";
		}
	</script>

	<div th:replace="component/footer-lib"></div>
</body>

</html>