<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">

<head th:replace="component/head :: head"></head>

<body onload="getLessons();">
	<header th:replace="component/header :: header"></header>

	<!-- Begin page content -->
	<div class="container">
		<div class="row">
			<div th:replace="component/sidebar"></div>
			<div class="col-md-9">
				<div class="row">
					<div class="col-md-6">
						<h3>知识点查看</h3>
						<hr />
					</div>
				</div>

				<div class="row">
					<div class="col-md-12">
						<table id="listTable" class="table table-striped">
							<thead>
								<tr>
									<th scope="col">编号</th>
									<th scope="col">课程名称</th>
									<th scope="col">上课地点</th>
									<th scope="col">上课时间</th>
									<th scope="row">已有知识点</th>
									<th scope="col">设置知识点</th>
								</tr>
							</thead>
							<tbody>

							</tbody>
						</table>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- End page content -->
	<div class="modal fade" id="myModal" tabindex="-1" role="dialog"
		aria-labelledby="myModalLabel" aria-hidden="true">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal"
						aria-hidden="true">&times;</button>
					<h4 class="modal-title" id="myModalLabel">已有知识点</h4>
				</div>
				<div class="modal-body">
					<table id="knowledgeTable" class="table tabble-striped">
						<thead>
							<tr>
								<th scope="col">编号</th>
								<th scope="col">知识点</th>
								<th scope="col">预计时长/分钟</th>
							</tr>
						</thead>
						<tbody id="knowledgeTableTbody">

						</tbody>
					</table>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-default" data-dismiss="modal">关闭
					</button>
				</div>
			</div>
			<!-- /.modal-content -->
		</div>
		<!-- /.modal -->
	</div>

	<script type="text/javascript">
		//用来保存知识点
		var knowledgeList = {};
		//返回未上的课list
		function getLessons() {
			$
					.ajax({
						url : "/genesis/restknowledge/get-lesson-and-knowledge",
						type : "POST",
						contentType : "application/json; charset=utf-8",
						dataType : 'json',
						async : true,
						success : function(result) {
							//console.log(result);
							if (result.success == false) {
								if (result.code == 9002) {
									alert("参数错误");
								} else if (result.code == 9999) {
									alert("系统错误");
								}
							} else {
								$("#listTable tbody").empty();
								var list = result.module;
								for (var i = 0; i < list.length; i++) {
									var knowledgeDOList = list[i].knowledgeDOs;
									knowledgeList[i] = knowledgeDOList;
									var id = i + 1;
									var courseName = list[i].courseName;
									var classroom = list[i].classroom;
									var begin = list[i].begin;
									var beginTime = new Date(
											+new Date(begin) + 28800000)
											.toISOString().replace(/T/g, ' ')
											.replace(/.[\d]{3}Z/, ' ');//格式、时间差改正
									var url = list[i].url;
									//渲染
									$("#listTable tbody")
											.append(
													"<tr><th scope=\"row\">"
															+ id
															+ "</th><td>"
															+ courseName
															+ "</td><td>"
															+ classroom
															+ "</td><td>"
															+ beginTime
															+ "</td><td><button onclick=\"getKnowledges("
															+ i
															+ ")\" class=\"btn btn-primary\" data-toggle=\"modal\" data-target=\"#myModal\">知识点查看</button></td><td> <a class=\"btn btn-primary\" href=" + url + ">详情</a></td></tr>");
								}
							}
						},
						error : function(e) {
							alert("异常");
						}
					});
		}

		//渲染知识点模态框
		function getKnowledges(i) {
			var knowledges = knowledgeList[parseInt(i)];
			console.log(knowledgeList);
			$("#knowledgeTable #knowledgeTableTbody").empty();
			for (var i = 0; i < knowledges.length; i++) {
				var id = i + 1;
				var content = knowledges[i].content;
				var length = knowledges[i].length;
				$("#knowledgeTable #knowledgeTableTbody").append();
				$("#knowledgeTable #knowledgeTableTbody").append(
						"<tr><th scope=\"row\">" + id + "</th><td></p>"
								+ content + "</p></td><td>" + length
								+ "</td></tr>");
			}

		}
	</script>

	<footer th:replace="component/footer :: footer"></footer>
	<div th:replace="component/footer-lib"></div>

</body>

</html>