<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">

<head th:replace="component/head :: head">
	<style type="text/css">
		input{
			border-radius: 3px;
		}
	</style>
	<link rel="stylesheet" href="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/css/bootstrap.min.css">
	<script src="https://cdn.staticfile.org/jquery/2.1.1/jquery.min.js"></script>
	<script src="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>

<body onload="getknowledgeDOs();">
	<header th:replace="component/header :: header"></header>

	<!-- Begin page content -->
	<div class="container">
		<div class="row">
			<div th:replace="component/sidebar"></div>
			<div class="col-md-9">
				<div th:replace="component/page-title::pageTitle('设置知识点')"></div>

				<div class="row">
					<div class="col-md-12">
						<h2>已有知识点</h2>
						<table id="listTable" class="table table-striped">
							<thead>
								<tr>
									<th scope="col">编号</th>
									<th scope="col">知识点描述</th>
									<th scope="col">预计时长/分钟</th>
									<th scope="col">修改</th>
									<th scope="col">删除</th>
								</tr>
							</thead>
							<tbody>

							</tbody>
						</table>
					</div>
				</div>

				<div class="modal fade" id="myModal" tabindex="-1" role="dialog"
					aria-labelledby="myModalLabel" aria-hidden="true">
					<div class="modal-dialog">
						<div class="modal-content">
							<div class="modal-header">
								<button type="button" class="close" data-dismiss="modal"
									aria-hidden="true">&times;</button>
								<h4 class="modal-title" id="myModalLabel">修改知识点</h4>
							</div>
							<div class="modal-body">
								<div class="input-group">
									<label for="knowledgeText">知识点描述</label> <input
										id="knowledgeText" type="text" class="form-control"> <label
										for="knowledgeTime">预计时长</label> <input id="knowledgeTime"
										type="text" class="form-control"> <span
										class="input-group-btn"> </span>
								</div>
							</div>
							<div class="modal-footer">
								<button id="confirmButton" type="button" class="btn btn-primary">确认修改</button>
							</div>
						</div>
						<!-- /.modal-content -->
					</div>
					<!-- /.modal -->
				</div>

				<div class="row">
					<div class="col-md-12">
						<button class="btn btn-primary btn-lg" data-toggle="modal" data-target="#myModal1">
							添加
						</button>
<!--						<div class="col-lg-6">-->
<!--							<div class="input-group">-->
<!--								<label for="knowledgeText2Insert">知识点描述</label> <input-->
<!--									id="knowledgeText2Insert" type="text" class="form-control">-->
<!--								<label for="knowledgeTime2Insert">预计时长</label> <input-->
<!--									id="knowledgeTime2Insert" type="text" class="form-control">-->
<!--								<span class="input-group-btn">-->
<!--									<button class="btn btn-primary" type="button"-->
<!--										onclick="insertKnowledge()">添加</button>-->
<!--								</span>-->
<!--							</div>-->
<!--							&lt;!&ndash; /input-group &ndash;&gt;-->
<!--						</div>-->
						<div class="modal fade" id="myModal1" tabindex="-1" role="dialog" aria-labelledby="myModalLabel1" aria-hidden="true">
							<div class="modal-dialog">
								<div class="modal-content">
									<div class="modal-header">
										<button type="button" class="close" onclick="refush()" data-dismiss="modal" aria-hidden="true">
											&times;
										</button>
										<h4 class="modal-title" id="myModalLabel1">
											知识点
										</h4>
									</div>
									<div class="modal-body">
										<table border="0.8" width="100%" id="table">
											<tr>
												<th >知识点</th>
												<th id="knowledgeTime2Insert">预计时长</th>
												<th>操作</th>
											</tr>
										</table>
										<input type="button" value="添加一行" onclick="addOne()" />
									</div>
									<div class="modal-footer">
									</div>
								</div><!-- /.modal-content -->
							</div><!-- /.modal -->
						<!-- /.col-lg-6 -->
					</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- End page content -->
	<script type="text/javascript">
		function refush(){
			window.location.reload()
		}
		
		function getUrl() {
			var url = location.search; //获取url中"?"符后的字串
			var theRequest = new Object();
			if (url.indexOf("?") != -1) {
				var str = url.substr(1);
				strs = str.split("&");
				for (var i = 0; i < strs.length; i++) {
					theRequest[strs[i].split("=")[0]] = unescape(strs[i]
							.split("=")[1]);
				}
			}
			return theRequest;
		}

		function getknowledgeDOs() {
			var theRequest = new Object();
			theRequest = getUrl();
			var lessonId = theRequest["id"];
			$
					.ajax({
						url : "/genesis/restknowledge/get-knowledgedos-by-lessonid",
						type : "POST",
						data : lessonId,
						contentType : "application/json; charset=utf-8",
						dataType : 'json',
						async : true,
						success : function(result) {
							if (result.success == false) {
								if (result.code == 9002) {
									alert("参数错误");
								} else if (result.code == 9999) {
									alert("系统错误");
								}
							} else {
								var list = result.module;
								$("#listTable tbody").empty();
								for (var i = 0; i < list.length; i++) {
									var listId = i + 1;
									var content = list[i].content;
									var length = list[i].length;
									var id = list[i].id;
									$("#listTable tbody")
											.append(
													"<tr><th scope=\"row\">"
															+ listId
															+ "</th><td>"
															+ content
															+ "</td><td>"
															+ length
															+ "</td><td><button onclick='modify( \""
															+ id
															+ "\", \""
															+ content
															+ "\", \""
															+ length
															+ "\")' class=\"btn btn-primary\" data-toggle=\"modal\" data-target=\"#myModal\">修改</button></td><td><button onclick=\"deleteById("
															+ id
															+ ")\" type=\"button\" onclick='deleteById("
															+ id
															+ ")' class=\"btn btn-danger\">删除</button></td></tr>");
								}
							}
						},
						error : function(e) {
							alert("异常");
						}
					});
		}

		function modify(id, content, length) {
			document.getElementById('knowledgeText').value = content;
			document.getElementById('knowledgeTime').value = length;
			//动态添加onclik函数
			$("#confirmButton").removeAttr("onclick");
			var button = document.getElementById('confirmButton');
			button.setAttribute("onclick", "toModify(" + id + ")");
		}

		function toModify(id) {
			var newContent = document.getElementById('knowledgeText').value;
			var newLength = document.getElementById('knowledgeTime').value;
			//修改
			$.ajax({
				url : "/genesis/restknowledge/modify-knowledge",
				type : "POST",
				contentType : "application/json; charset=utf-8",
				dataType : 'json',
				data : JSON.stringify({
					"id" : id,
					"content" : newContent,
					"length" : newLength
				}),
				async : false,
				success : function(result) {
					//console.log(result);
					if (result.success == false) {
						if (result.code == 9002) {
							alert("参数错误");
						} else if (result.code == 9999) {
							alert("系统错误");
						}
					} else {
						alert("修改成功");
						window.location.reload();
					}
				},
				error : function(e) {
					alert("异常");
				}
			});
		}

		function deleteById(id) {
			var msg = "确定要删除吗？";
			if (confirm(msg) == true) {
				$.ajax({
					url : "/genesis/restknowledge/delete-knowledge-by-id",
					type : "POST",
					data : JSON.stringify(id),
					contentType : "application/json; charset=utf-8",
					dataType : 'json',
					async : true,
					success : function(result) {
						if (result.success == false) {
							if (result.code == 9002) {
								alert("参数错误");
							} else if (result.code == 9999) {
								alert("系统错误");
							}
						} else {
							alert("删除成功！");
							window.location.reload();
						}
					},
					error : function(e) {
						alert("异常");
					}
				});
			} else {
				return;
			}
		}

		function insertKnowledge() {
			var theRequest = new Object();
			theRequest = getUrl();
			var lessonId = theRequest["id"];
			var content = document.getElementById('knowledgeText2Insert').value;
			// var length = document.getElementById('knowledgeTime2Insert').value;
			length =  $("input[id='knowledgeTime2Insert']").val();
			alert(content);
			alert(length);
			$.ajax({
				url : "/genesis/restknowledge/insert-knowledge",
				type : "POST",
				data : JSON.stringify({
					"lessonId" : lessonId,
					"content" : content,
					"length" : length
				}),
				contentType : "application/json; charset=utf-8",
				dataType : 'json',
				async : true,
				success : function(result) {
					if (result.success == false) {
						if (result.code == 9002) {
							alert("参数错误");
						} else if (result.code == 9999) {
							alert("系统错误");
						}
					} else {
						addOne();
						alert("添加成功！");
						window.location.reload();
					}
				},
				error : function(e) {
					alert("异常");
				}
			});
		}

		function addOne(obj){
			var tbody = document.getElementById('table').lastChild;
			var tr = document.createElement('tr');


			td = document.createElement("td");
			td.innerHTML = "<input id='knowledgeText2Insert' type='text'  class='form-control'/>";
			tr.appendChild(td);

			td = document.createElement("td");
			td.innerHTML = "<input id='knowledgeTime2Insert' type='number' value='5' class='form-control'/>";
			tr.appendChild(td);

			td = document.createElement("td");

			td.innerHTML = "<button class='btn btn-primary' type='button' onclick='insertKnowledge()'>添加</button>";
			tr.appendChild(td);

			tbody.appendChild(tr);
			Highlight();
		}
	</script>

	<footer th:replace="component/footer :: footer"></footer>
	<div th:replace="component/footer-lib"></div>

</body>

</html>