<!doctype html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head th:replace="component/head :: head"></head>

<body onload="getCoursesByTeacherId()">
	<header th:replace="component/header :: header"></header>

	<!-- Begin page content -->
	<div class="container">

		<div class="row">
			<div th:replace="component/sidebar"></div> 

			<div class="col-md-9">
					<div th:replace="component/page-title::pageTitle('知识点详情')"></div>
				<div class="row">
					<div class="col-md-4">
						<div class="dropdown">
							<div class="input-group">
								<div class="input-group-prepend">
									<label class="input-group-text" for="inputGroupSelect-course">课程名</label>
								</div>
								<select class="custom-select" id="inputGroupSelect-course" onclick="selectCourse();" autocomplete="off">
									<option disabled="disabled" selected="selected">请选择</option><!-- 动态追加课程名 -->
								</select>
							</div>
						</div>
					</div>
				</div>

				<div class="row mt-3">
					<div class="col-md-12">
						<table id="listTable" class="table table-striped">
							<thead>
								<tr>
									<th scope="col">编号</th>
									<th scope="col">对应课时</th>
									<th scope="col">开始时间</th>
									<th scope="col">结束时间</th>
									<th scope="col">知识点学情</th>
								</tr>
							</thead>
							<tbody>
								<!-- 动态追加tr -->
							</tbody>
						</table>
					</div>
				</div>
			</div>
		</div>
	</div>

	<footer th:replace="component/footer :: footer"></footer>

	 <script th:inline="javascript">
		function getCoursesByTeacherId() {
			var teacherId = [[${userId}]];
			teacherId = unescape(teacherId);
			//获取数据库中用户自己的课程
			$.ajax({
				url: "/genesis/restdetails/get-coursedo-by-teacherid-list",
				type: "POST",
				data: teacherId,
				contentType: "application/json; charset=utf-8",
				dataType: 'json',
				async: true,
				success: function (result) {
					if (result.success == false) {
						if (result.code == 9002) {
							alert("参数错误");
						} else if (result.code == 9999) {
							alert("系统错误");
						} else if (result.code == 1025) {
       						alert("此用户无课程");
       					}
					} else {
						//得到课程list
						var list = result.module;
						//清空course(除第一个)
						$('#inputGroupSelect-course option').not(":first").remove();
						for (var i = 0; i < list.length; i++) {
							document.getElementById("inputGroupSelect-course").options.add(new Option(list[i], i));
						}
					}
				},
				error: function (e) {
					alert("异常");
				}
			});
		}

		function selectCourse() {
	    	//获取select选中的text。
	    	var courseName=$("#inputGroupSelect-course option:selected").text();	
	        if(courseName == '请选择' )
	        	return;
	        else{
	        	courseName = unescape(courseName);
	        	$.ajax({
	    			url: "/genesis/restdetails/get-lessondo-by-coursename-list",
	    			type: "POST",
	    			data: courseName,
	    			contentType: "application/json; charset=utf-8",
	    			dataType: 'json',
	    			async: true,
	    			success: function (result) {
	    				console.log(result);
	    				if (result.success == false) {
	    					if (result.code == 9002) {
	    						alert("参数错误");
	    					}else if (result.code == 9999) {
	    						alert("系统错误");
	    					}
	    				} else {
	    					var list = result.module;
	    					$("#listTable tbody").empty();
	    					for(var i = 0; i < list.length; i++){
	    						var listId = i + 1;
	    						var lessonId = list[i].lessonDO.id;
	    						var number = list[i].lessonDO.number;
	    						var begin = list[i].lessonDO.begin;	    
	    						var b = new Date(begin);
	    						begin=b.getFullYear() + '-' + 
	    						(b.getMonth() + 1 < 10 ? "0" + (b.getMonth() + 1) : b.getMonth() + 1) + '-' + 
	    						(b.getDate() + 1 < 10 ? "0" + (b.getDate() + 1) : b.getDate() + 1) + ' ' + 
	    						(b.getHours() + 1 < 10 ? "0" + (b.getHours() + 1) : b.getHours() + 1) + ':' + 
	    						(b.getMinutes() + 1 < 10 ? "0" + (b.getMinutes() + 1) : b.getMinutes() + 1) + ':' + 
	    						(b.getSeconds() + 1 < 10 ? "0" + (b.getSeconds() + 1) : b.getSeconds() + 1) ;
	    						var end =list[i].lessonDO.end;   
	    						var e = new Date(end);
	    						end=e.getFullYear() + '-' + 
	    						(e.getMonth() + 1 < 10 ? "0" + (e.getMonth() + 1) : e.getMonth() + 1) + '-' + 
	    						(e.getDate() + 1 < 10 ? "0" + (e.getDate() + 1) : e.getDate() + 1) + ' ' + 
	    						(e.getHours() + 1 < 10 ? "0" + (e.getHours() + 1) : e.getHours() + 1) + ':' + 
	    						(e.getMinutes() + 1 < 10 ? "0" + (e.getMinutes() + 1) : e.getMinutes() + 1) + ':' + 
	    						(e.getSeconds() + 1 < 10 ? "0" + (e.getSeconds() + 1) : e.getSeconds() + 1) ;
	    						var detailUrl = list[i].url;
	    						var teacherId = [[${userId}]];
	    						
	    						$("#listTable tbody").append("<tr><th scope=\"row\">"+listId+"</th><td>"+number+"</td><td>"+begin+"</td><td>"+end+
	    						"</td><td> <a href='/genesis/teaching/lesson-knowledge-point-details?id="+ lessonId +"'>详情</a></td></tr>");
	    					}
	    				}
	    			},
	    			error: function (e) {
	    				alert("异常");
	    			}
	    		});
	        }
		}


	</script> 

	<div th:replace="component/footer-lib"></div>
</body>

</html>