<!doctype html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head th:replace="component/head :: head">

    <!-- STYLES -->
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,300i,400,400i,500,500i,700,700i&display=swap"
          rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Raleway:300,300i,400,400i,500,500i,600,600i,700,700i,800&display=swap"
          rel="stylesheet">
    <link rel="stylesheet" type="text/css" th:href="@{/css/plugins.css}" />
    <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}" />

    <link rel="stylesheet" href="https://cdn.static.runoob.com/libs/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://cdn.static.runoob.com/libs/jquery/2.1.1/jquery.min.js"></script>
    <script src="https://cdn.static.runoob.com/libs/bootstrap/3.3.7/js/bootstrap.min.js"></script>

</head>

<body onload="getKnowledgepictures();fillHref()">
<header th:replace="component/header :: header"></header>

<!-- Begin page content -->

<div class="container">
    <div class="row">

        <div th:replace="component/sidebar"></div>

        <div class="col-md-9">
            <div th:replace="component/page-title::pageTitle('知识点检测中')"></div>

            <div><img id="image" src="/genesis/img/avatar-0.jpg" width="550" height="410"/>
                <br>
            </div>
            <input class="btn btn-primary" width="500" type="text" id="button" value="">
            <a onclick="fillHref()" class="btn btn-primary" role="button" id="lesson-knowledge-point-list">返回</a>
        </div>

    </div>

</div>
<footer th:replace="component/footer :: footer"></footer>

<script>
    function getUrl() {
        var url = location.search; //获取url中"?"符后的字串
        var theRequest = new Object();
        if (url.indexOf("?") != -1) {
            var str = url.substr(1);
            strs = str.split("&");
            for (var i = 0; i < strs.length; i++) {
                theRequest[strs[i].split("=")[0]] = unescape(strs[i].split("=")[1]);
            }
        }
        return theRequest;
    }

    function getlessonId() {
        var theRequest = new Object();
        theRequest = getUrl();
        var lessonId = theRequest["lessonId"];
        return lessonId;
    }

    function returenpicturelist(knowledgeid) {
        var knowledgeid = knowledgeid;
        $.ajax({
            url: "/genesis/restknowledge/get-picture-knowlegde?knowledgeid=" + knowledgeid,
            type: "GET",
            data: knowledgeid,
            contentType: "application/json; charset=utf-8",
            dataType: 'json',
            async: true,
            success: function (result) {
                if (result.success == false) {
                    if (result.code == 9002) {
                        alert("参数错误");
                    } else if (result.code == 9999) {
                        alert("系统错误");
                    }
                } else {
                    var voList = result.module;
                    var pic;
                    var length;
                    var arr = new Array();
                    var arrknowledge = new Array();
                    for (var i = 0; i < voList.length; i++) {
                        pic = voList[i].picture;
                        arr[i] = "/genesis/img/" + pic;
                        arrknowledge[i]=voList[i].knowledge
                    }
                    length = arr.length;
                    var i=0;
                    var ima= document.getElementById("image");
                    var imax= document.getElementById("button");

                    // for (i;i<length;i++) {
                    //     (function(i) {
                    //         setTimeout(function() {
                    //             ima.src = arr[i];
                    //             console.log(i);
                    //         },(i+1)* 5000);
                    //     })(i);
                    //     (function(i) {
                    //         setTimeout(function() {
                    //             imax.value=arrknowledge[i];
                    //             console.log(i);
                    //         },(i+1)* 3000);
                    //     })(i);

                    (function (i) {
                        setTimeout(function() {
                            for (i; i < length; i++) {
                                        ima.src = arr[i];
                                        console.log(i);
                                (function (i) {
                                    setTimeout(function () {
                                        imax.value = arrknowledge[i];
                                        console.log(i);
                                    }, (i + 1) * 1000);
                                })(i);
                            }
                        },(i + 1) * 3000);

                    })(i);

                }
            }
        });

    }

    // function checkpicture(pictureId) {
    //     var pictureId=pictureId;
    //     $.ajax(
    //         {
    //             url: "/genesis/restknowledge/get-Picture-BooleanLast?pictureId=" + pictureId,
    //             type: "GET",
    //             data: pictureId,
    //             contentType: "application/json; charset=utf-8",
    //             dataType: 'json',
    //             async: true,
    //             success: function (result) {
    //
    //                 if (result.success == false) {
    //                     if (result.code == 9002) {
    //                         alert("参数错误");
    //                     } else if (result.code == 9999) {
    //                         alert("系统错误");
    //                     }
    //                 } else {
    //                     var voList = result.module;
    //                     if (voList.check) {
    //                         // $("#divAdd-b").append(
    //                         //     "<h3>" + voList.knowledge + "</h3>"
    //                         // );
    //                         var imax= document.getElementById("div-b");
    //                         imax.values(voList.knowledge);
    //                     }
    //                 }
    //             }
    //         });
    // }

    function getKnowledgepictures() {
        var theRequest = new Object();
        theRequest = getUrl();
        var lessonId = getlessonId();
        $.ajax({
            url: "/genesis/restknowledge/get-knowledgesdetailsvo-by-lessonid-listone",
            type: "POST",
            data: lessonId,
            contentType: "application/json; charset=utf-8",
            dataType: 'json',
            async: true,
            success: function (result) {
                if (result.success == false) {
                    if (result.code == 9002) {
                        alert("参数错误");
                    } else if (result.code == 9999) {
                        alert("系统错误");
                    }
                } else {
                    var voList = result.module;
                    for (var i = 0; i < voList.length; i++) {
                        (function (i) {
                            setTimeout(function () {
                                var vo = voList[i];
                                var knowledgeid = vo.knowledgeId;
                                returenpicturelist(knowledgeid);
                                var pictureId = voList[i].id;
                                // checkpicture(pictureId);

                                console.log(i);
                            }, (i + 1) * 5000);
                        })(i);
                    }




                }
            },
            error: function (e) {
                alert("getKnowledgeDetails异常");
            }
        });
    }

    function fillHref() {
        document.getElementById("lesson-knowledge-point-list").href = "/genesis/teaching/lesson-knowledge-point-list-a";
    }


</script>

<div th:replace="component/footer-lib"></div>

</body>

</html>