<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title></title>
    <script src="js/jquery-3.4.1.min.js"></script>
    <script src="js/echarts.min.js"></script>
</head>
<body>
<div><input type="button" id="btngo" value="Pie" /> </div>
<div id="contanis" style="width:800px;height:800px"></div>

<script type="text/javascript">
    $("#btngo").click(function () { //这里用的是点击事件下面
        var dom = document.getElementById('contanis');
        var mycharts = echarts.init(dom);

        option = {
            title: {
                text: '学情反馈分析表',
                subtext: '测试数据',
                x: 'center'
            },
            tooltip: {
                trigger: 'item',
                formatter: "{a} <br/>{b} : {c} ({d}%)"
            },
            legend: {
                orient: 'vertical',
                left: 'left',
                data: []
            },
            series: [
                {
                    name: '2019年度',
                    type: 'pie',
                    radius: '55%',
                    center: ['50%', '60%'],
                    data: [{value:38.2, name:'认真听课'},
                        {value:26.8, name:'上课睡觉'},
                        {value:12.8, name:'上课玩手机'},
                        {value:8.5, name:'上课发呆'},
                        {value:6.9, name:'其他'}
                    ],
                    itemStyle: {
                        emphasis: {
                            shadowBlur: 10,
                            shadowOffsetX: 0,
                            shadowColor: 'rgba(0, 0, 0, 0.5)'
                        }
                    }
                }
            ]
        };

        mycharts.setOption(option);
    });


    function requestData(){
        $.ajax({
            type: "get",
            async: true,            //异步请求（同步请求将会锁住浏览器，用户其他操作必须等待请求完成才可以执行）
            url: "",
            data: {},
            dataType: "json",        //返回数据形式为json
            success: function (result) {
                for (var i = 0; i < result.length; i++)
                {
                    name.push(result[i].name);
                }
                mycharts.setOption({ //加载数据图表
                    legend:{data:name },
                    series: [{
                        data:result
                    }]
                });

            },
            error: function (errorMsg) {
                //请求失败时执行该函数
                alert("图表请求数据失败!");

            }
        });
    }
</script>

</body>
</html>
