<!doctype html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">

<head th:replace="component/head :: head"></head>

<body onload="getBuildings();change()">
	<header th:replace="component/header :: header"></header>

	<!-- Begin page content -->
	<div class="container">
		<div class="row">

			<div th:replace="component/sidebar"></div>

			<div class="col-md-9">
				<h3>球机管理</h3>
				<hr />
				<div class="col-md-12">
					<div class="row">
						<div class="input-group">
							<div class="input-group-prepend">
								<label class="input-group-text" for="inputGroupSelect-building">楼号</label>
							</div>
							<select class="custom-select" id="inputGroupSelect-building"
								onclick="selectBuilding();" autocomplete="off">
								<option disabled="disabled" selected="selected">请选择...</option>
								<!-- 动态追加楼号 -->
							</select>

							<div class="input-group-prepend">
								<label class="input-group-text" for="inputGroupSelect-floor">楼层</label>
							</div>
							<select class="custom-select" id="inputGroupSelect-floor"
								onclick="selectFloor();" autocomplete="off">
								<option disabled="disabled" selected="selected">请选择...</option>
								<!-- 动态追加楼层 -->
							</select>

							<div class="input-group-prepend">
								<label class="input-group-text" for="inputGroupSelect-classroom">教室</label>
							</div>
							<select class="custom-select" id="inputGroupSelect-classroom"
								onclick="selectClassroom();" autocomplete="off">
								<option disabled="disabled" selected="selected">请选择...</option>
								<!-- 动态追加教室 -->
							</select>

							<div class="input-group-prepend">
								<label class="input-group-text" for="inputGroupSelect-equipment">设备</label>
							</div>
							<select class="custom-select" id="inputGroupSelect-equipment"
								onchange="selectEquipment();" autocomplete="off">
								<option disabled="disabled" selected="selected">请选择...</option>
								<!-- 动态追加设备 -->
							</select>

						</div>

						<div class="col-md-3 offset-md-1">
							<div class="row">
								<a class="btn btn-primary mt-2" href="#" onclick="start()">
									<i class="far  fa-lg fa-play-circle"></i>巡航开启
								</a> <input id="startInput" type="text" class="form-control"
									placeholder="0~100" aria-label="Username"
									aria-describedby="basic-addon1">
							</div>
						</div>
						<div class="col-md-3 offset-md-1">
							<div class="row">
								<a class="btn btn-primary mt-2" href="#" onclick="end()"> <i
									class="far  fa-lg fa-times-circle"></i>巡航关闭
								</a> <input id="endInput" type="text" class="form-control"
									placeholder="0~100" aria-label="Username"
									aria-describedby="basic-addon1">
							</div>
						</div>
					</div>
					<div class="row">
						<div class="col-md-3 offset-md-1">
							<a class="btn btn-secondary mt-2" href="#"
								onclick='cameraControl("q")'> <i
								class="fas fa-lg fa-chevron-up"></i> 焦距up
							</a>
						</div>
						<div class="col-md-3 offset-md-1">
							<a class="btn btn-secondary mt-2" href="#"
								onclick='cameraControl("n 5000")'> <i
								class="fas fa-lg fa-camera-retro"></i> 拍摄本地视频 <!-- 暂时写死，拍摄5秒 -->
							</a>
						</div>
						<div class="col-md-3 offset-md-1">
							<a class="btn btn-secondary mt-2" href="#"
								onclick='cameraControl("e")'> <i
								class="fas  fa-lg fa-chevron-down"></i> 焦距down
							</a>
						</div>
					</div>
					<div class="row">
						<div class="col-md-2 offset-md-1">
							<a class="btn btn-warning mt-2" href="#"
								onclick="cameraControl('a')"> <i
								class="fas fa-lg fa-chevron-circle-left"></i> 左
							</a>
						</div>
						<div class="col-md-2">
							<a class="btn btn-warning mt-2" href="#"
								onclick="cameraControl('d')"> <i
								class="fas  fa-lg fa-chevron-circle-right"></i> 右
							</a>
						</div>
						<div class="col-md-2">
							<a class="btn btn-warning mt-2" href="#"
								onclick="cameraControl('w')"> <i
								class="fas  fa-lg fa-chevron-circle-up"></i> 上
							</a>
						</div>
						<div class="col-md-2">
							<a class="btn btn-warning mt-2" href="#"
								onclick="cameraControl('s')"> <i
								class="fas  fa-lg fa-chevron-circle-down"></i> 下
							</a>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="card mt-2 mb-2 col-md-10 offset-md-1">
						<div class="card-body">
							<p class="card-text" height="15px">实况：</p>
						</div>
						<video id="video1" width="600px" height="300px" src="">
							<source id="source1" src="">
							<!-- http://123.206.53.234/yctc/%E7%90%83%E6%9C%BA%E7%AE%A1%E7%90%86.mp4 -->
						</video>
					</div>
				</div>
			</div>
		</div>
	</div>

	<script type="text/javascript">
		function cameraControl(command) {
			$.ajax({
				url : "/genesis/restcamera/control-camera",
				type : "POST",
				contentType : "application/json; charset=utf-8",
				data : command,
				dataType : 'json',
				success : function(result) {
					if (result.success == false) {
						if (result.code == 9002) {
							alert("参数非法");
							return;
						}
						if (result.code == 9999) {
							alert("系统错误");
							return;
						}
					} else {
						console.log("control camera success, command: "
								+ command);
					}
				},

				error : function(e) {
					console.log(e);
					alert("调用失败 ");
				}
			});
		}

		function start() {
			var n = $("#startInput").val();
			if (n == null || n.length <= 0 || n == "") {
				alert("请输入预置点");
				return;
			} else {
				cameraControl("u " + n)
			}
		}

		function end() {
			var n = $("#endInput").val();
			if (n == null || n.length <= 0 || n == null || n == "") {
				alert("请输入预置点");
				return;
			} else {
				cameraControl("i " + n)
			}
		}

		function change() {
			video_change = document.getElementById("video1");
			source_change = document.getElementById("source1");
			video_change.play();
		}

		function getBuildings() {
			//获取数据库中的楼号
			$
					.ajax({
						url : "/genesis/restcamera/get-buildings",
						type : "POST",
						contentType : "application/json; charset=utf-8",
						dataType : 'json',
						async : false,
						success : function(result) {
							if (result.success == false) {
								if (result.code == 9002) {
									alert("参数错误");
								} else if (result.code == 9999) {
									alert("系统错误");
								}
							} else {
								//得到楼号list
								var list = result.module;
								//清空build(除第一个)
								$('#inputGroupSelect-building option').not(
										":first").remove();
								if (list.length == 0) {
									document
											.getElementById("inputGroupSelect-building").options
											.add(new Option("暂无楼号", 0));
								}
								for (var i = 0; i < list.length; i++) {
									document
											.getElementById("inputGroupSelect-building").options
											.add(new Option(list[i], i));
								}
							}
						},
						error : function(e) {
							alert("异常");
						}
					});
		}

		function selectBuilding() {
			var building = $("#inputGroupSelect-building option:selected")
					.text();
			if (building == '请选择...')
				return;
			$
					.ajax({
						url : "/genesis/restcamera/get-floors-by-building",
						type : "POST",
						data : building,
						contentType : "application/json; charset=utf-8",
						dataType : 'json',
						async : false,
						success : function(result) {
							console.log(result);
							if (result.success == false) {
								if (result.code == 9002) {
									alert("参数错误");
								} else if (result.code == 9999) {
									alert("系统错误");
								}
							} else {
								// 渲染floor
								//得到楼层list
								var list = result.module;
								//清空floor(除第一个)
								$('#inputGroupSelect-floor option').not(
										":first").remove();
								if (list.length == 0) {
									document
											.getElementById("inputGroupSelect-floor").options
											.add(new Option("暂无楼层", 0));
								}
								for (var i = 0; i < list.length; i++) {
									document
											.getElementById("inputGroupSelect-floor").options
											.add(new Option(list[i], i));
								}
							}
						},
						error : function(e) {
							alert("异常");
						}
					});
		}

		function selectFloor() {
			var building = $("#inputGroupSelect-building option:selected")
					.text();
			var floor = $("#inputGroupSelect-floor option:selected").text();

			if (building == '请选择...' || floor == '请选择...')
				return;
			$
					.ajax({
						url : "/genesis/restcamera/get-classroomdo-by-building-and-floor",
						type : "POST",
						data : JSON.stringify({
							"building" : building,
							"floor" : floor
						}),
						contentType : "application/json; charset=utf-8",
						dataType : 'json',
						async : false,
						success : function(result) {
							console.log(result);
							if (result.success == false) {
								if (result.code == 9002) {
									alert("参数错误");
								} else if (result.code == 9999) {
									alert("系统错误");
								}
							} else {
								// 渲染classroom
								//得到classroomList
								var list = result.module;
								//清空classroom(除第一个)
								$('#inputGroupSelect-classroom option').not(
										":first").remove();
								if (list.length == 0) {
									document
											.getElementById("inputGroupSelect-classroom").options
											.add(new Option("暂无教室", 0));
								}
								for (var i = 0; i < list.length; i++) {
									var number = list[i].number;
									document
											.getElementById("inputGroupSelect-classroom").options
											.add(new Option(number, i));
								}
							}
						},
						error : function(e) {
							alert("异常");
						}
					});
		}

		function selectClassroom() {
			var number = $("#inputGroupSelect-classroom option:selected")
					.text();
			if (number == '请选择...')
				return;
			$
					.ajax({
						url : "/genesis/restcamera/get-equipmentdos-by-classroom-number",
						type : "POST",
						data : number,
						contentType : "application/json; charset=utf-8",
						dataType : 'json',
						async : false,
						success : function(result) {
							console.log(result);
							if (result.success == false) {
								if (result.code == 9002) {
									alert("参数错误");
								} else if (result.code == 9999) {
									alert("系统错误");
								}
							} else {
								// 渲染设备
								//得到设备list
								var list = result.module;
								//清空classroom(除第一个)
								$('#inputGroupSelect-equipment option').not(
										":first").remove();
								if (list.length == 0) {
									document
											.getElementById("inputGroupSelect-equipment").options
											.add(new Option("暂无设备", 0));
								}
								for (var i = 0; i < list.length; i++) {
									var number = list[i].number;
									document
											.getElementById("inputGroupSelect-equipment").options
											.add(new Option(number, i));
								}

							}
						},
						error : function(e) {
							alert("异常");
						}
					});
		}

		function selectEquipment() {
			// 通过设备号返回视频播放地址
			var number = $("#inputGroupSelect-equipment option:selected")
					.text();
			$.ajax({
				url : "/genesis/restcamera/get-video-by-equipment-number",
				type : "POST",
				contentType : "application/json; charset=utf-8",
				data : number,
				async : false,
				dataType : 'json',
				success : function(result) {
					if (result.success == false) {
						if (result.code == 9002) {
							alert("参数非法");
							return;
						}
						if (result.code == 9999) {
							alert("系统错误");
							return;
						}
					} else {
						var src = result.module;
						// 填充src
						$("#video1").attr("src", src);
						document.getElementById("video1").play()
					}
				},

				error : function(e) {
					console.log(e);
					alert("调用失败 ");
				}
			});
		}
	</script>

	<footer th:replace="component/footer :: footer"></footer>

	<div th:replace="component/footer-lib"></div>
</body>

</html>