<!doctype html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">

<head th:replace="component/head :: head"></head>

<body>
	<header th:replace="component/header :: header"></header>

	<!-- Begin page content -->
	<div class="container">
		<div class="row">

			<div th:replace="component/sidebar"></div>


			<div class="col-md-9">
				<h2>视频监测</h2>
				<hr />
				<video id="video1"width="600px" height="300px" autoplay="autoplay">
					<source id="source1" src="http://123.206.53.234/yctc/test1.mp4">
				</video>
				<div class="offset-md-2">
					<button class="btn btn-secondary"onclick="enableMute()" type="button">关闭声音</button>
					<button class="btn btn-secondary"onclick="disableMute()" type="button">打开声音</button>
					<button class="btn btn-secondary"onclick="showFull()" type="button">全屏</button>
					<br /> <span>音量:</span> <input type="range" min="0" max="100"
						value="50" onchange="setvalue()" id="ran" />
				</div>
			</div>
		</div>
	</div>
	<footer th:replace="component/footer :: footer"></footer>

	<script>
		var btn = document.getElementsByTagName("button");
		var myvideo = document.getElementById("video1");
		var ran = document.getElementById("ran");

		//关闭声音
		function enableMute() {
			myvideo.muted = true;
			btn[0].disabled = true;
			btn[1].disabled = false;
		}
		//打开声音
		function disableMute() {
			myvideo.muted = false;
			btn[0].disabled = false;
			btn[1].disabled = true;
		}
		//全屏
		function showFull() {
			full(myvideo);
		}
		//拖动range进行调音量大小
		function setvalue() {
			myvideo.volume = ran.value / 100;
			myvideo.muted = false;
		}
		
		function full(ele) {
		      if (ele.requestFullscreen) {
		          ele.requestFullscreen();
		      } else if (ele.mozRequestFullScreen) {
		          ele.mozRequestFullScreen();
		      } else if (ele.webkitRequestFullscreen) {
		          ele.webkitRequestFullscreen();
		      } else if (ele.msRequestFullscreen) {
		          ele.msRequestFullscreen();
		      }
		}
		
		function change(){
		    video_change = document.getElementById("video1");
		    source_change = document.getElementById("source1");
		    video_change.load();
		    source_change.src = "http://123.206.53.234/yctc/test1.mp4";
		}
		
		
	</script>

	<div th:replace="component/footer-lib"></div>
</body>

</html>