<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>智慧教室</title>
    <link rel="stylesheet" th:href="@{/fontawesome-5.5/css/all.min.css}" />
    <link rel="stylesheet" th:href="@{/slick/slick.css}">
    <link rel="stylesheet" th:href="@{/slick/slick-theme.css}">
    <link rel="stylesheet" th:href="@{/magnific-popup/magnific-popup.css}">
    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}"/>
    <link rel="stylesheet" th:href="@{/css/tooplate-infinite-loop.css}" />
    <!-- <link rel="stylesheet" href="fontawesome-5.5/css/all.min.css" />
    <link rel="stylesheet" href="slick/slick.css">
    <link rel="stylesheet" href="slick/slick-theme.css">
    <link rel="stylesheet" href="magnific-popup/magnific-popup.css">
    <link rel="stylesheet" href="css/bootstrap.min.css"/>
    <link rel="stylesheet" href="css/tooplate-infinite-loop.css" /> -->
</head>
<body>
<!-- Hero section -->
<section id="infinite" class="text-white tm-font-big tm-parallax">
    <!-- Navigation -->
    <nav class="navbar navbar-expand-md tm-navbar" id="tmNav">
        <div class="container">
            <div class="tm-next">
                <a href="#infinite" class="navbar-brand">智慧教室</a>
            </div>

            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <i class="fas fa-bars navbar-toggler-icon"></i>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item">
                        <a class="nav-link tm-nav-link" href="index.html">首页</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link tm-nav-link" href="#whatwedo">概述</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link tm-nav-link" href="#testimonials">作者信息</a>
                    </li>
                    <li class="nav-item">
                        <a href="/genesis/user/sign-in" class="nav-link tm-nav-link">登陆</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link tm-nav-link" href="#contact">联系我们</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>

    <div class="text-center tm-hero-text-container">
        <div class="tm-hero-text-container-inner">
            <h2 class="tm-hero-title">智慧教室</h2>
            <p class="tm-hero-subtitle">
                智能的知识点分析系统

            </p>
        </div>
    </div>

    <div class="tm-next tm-intro-next">
        <a href="#whatwedo" class="text-center tm-down-arrow-link">
            <i class="fas fa-2x fa-arrow-down tm-down-arrow"></i>
        </a>
    </div>
</section>

<section id="whatwedo" class="tm-section-pad-top">

    <div class="container">

        <div class="row tm-content-box"><!-- first row -->
            <div class="col-lg-12 col-xl-12">
                <div class="tm-intro-text-container">
                    <h2 class="tm-text-primary mb-4 tm-section-title">产品概述</h2>
                    <p class="mb-4 tm-intro-text">
                        教学教育的目的是以学生发展为本，以教师为主导，充分发挥学生的主动性，把促进学生成长成才作为学校一切工作的出发点和落脚点。对学校学生知识点学习状态分析是一切学校管理和教学实施的根本有利保障。</p>
                </div>
            </div>

        </div><!-- first row -->

        <div class="row tm-content-box"><!-- second row -->
            <div class="col-lg-1">
                <i class="far fa-3x fa-chart-bar text-center tm-icon"></i>
            </div>
            <div class="col-lg-5">
                <div class="tm-intro-text-container">
                    <h2 class="tm-text-primary mb-4">知识点识别</h2>
                    <p class="mb-4 tm-intro-text">
                        运用ocr文字识别技术.动态识别老师上课所讲知识点</p>
                </div>
            </div>

            <div class="col-lg-1">
                <i class="far fa-3x fa-comment-alt text-center tm-icon"></i>
            </div>
            <div class="col-lg-5">
                <div class="tm-intro-text-container">
                    <h2 class="tm-text-primary mb-4">知识点分析</h2>
                    <p class="mb-4 tm-intro-text">
                        根据识别到的知识点采用时长动态分析难易程度</p>
                </div>
            </div>

        </div><!-- second row -->

        <div class="row tm-content-box"><!-- third row -->
            <div class="col-lg-1">
                <i class="fas fa-3x fa-fingerprint text-center tm-icon"></i>
            </div>
            <div class="col-lg-5">
                <div class="tm-intro-text-container">
                    <h2 class="tm-text-primary mb-4">知识点学情反馈</h2>
                    <p class="mb-4 tm-intro-text">
                        老师根据 <strong>报告和数据图</strong>查看学生知识点,了解<strong>学生</strong>对于指定知识点的掌握情况 </p>

                    <div class="tm-continue">
                        <a href="/genesis/user/sign-in" class="tm-intro-text tm-btn-primary">Learn More</a>
                    </div>
                </div>
            </div>

            <div class="col-lg-1">
                <i class="fas fa-3x fa-users text-center tm-icon"></i>
            </div>
            <div class="col-lg-5">
                <div class="tm-intro-text-container">
                    <h2 class="tm-text-primary mb-4">一般教务</h2>
                    <p class="mb-4 tm-intro-text">
                        实现了<b><em>教室申请,历史学生数据报告,课表查询</em></b>等基本教务功能 <br>
                    </p>

                    <div class="tm-continue">
                        <a href="#testimonials" class="tm-intro-text tm-btn-primary">Details</a>
                    </div>
                </div>
            </div>

        </div><!-- third row -->

    </div>

</section>

<section id="testimonials" class="tm-section-pad-top tm-parallax-2">
    <div class="container tm-testimonials-content">
        <div class="row">
            <div class="col-lg-12 tm-content-box">
                <h2 class="text-white text-center mb-4 tm-section-title">作者</h2>
                <p class="mx-auto tm-section-desc text-center">
                    本项目由众多作者共同完成,感谢他们的辛勤奉献.
                </p>
                <div class="mx-auto tm-gallery-container tm-gallery-container-2">
                    <div class="tm-testimonials-carousel">
                        <figure class="tm-testimonial-item">
                            <img th:src="@{/img/testimonial-img-01.jpg}" alt="Image" class="img-fluid mx-auto">
                            <blockquote>This background image includes a semi-transparent overlay layer. This section also has a parallax image effect.</blockquote>
                            <figcaption>陈小明(Designer)</figcaption>
                        </figure>

                        <figure class="tm-testimonial-item">
                            <img th:src="@{/img/testimonial-img-02.jpg}" alt="Image" class="img-fluid mx-auto">
                            <blockquote>Testimonial section comes with carousel items. You can use Infinite Loop HTML CSS template for your websites.</blockquote>
                            <figcaption>黄晓东 (CEO)</figcaption>
                        </figure>

                        <figure class="tm-testimonial-item">
                            <img th:src="@{/img/testimonial-img-03.jpg}" alt="Image" class="img-fluid mx-auto">
                            <blockquote>Nulla finibus ligula nec tortor convallis tincidunt. Interdum et malesuada fames ac ante ipsum primis in faucibus.</blockquote>
                            <figcaption>乔明强 (Marketing)</figcaption>
                        </figure>

                        <figure class="tm-testimonial-item">
                            <img th:src="@{/img/testimonial-img-04.jpg}" alt="Image" class="img-fluid mx-auto">
                            <blockquote>Curabitur rutrum pharetra lobortis. Pellentesque vehicula, velit quis eleifend fermentum, erat arcu aliquet neque.</blockquote>
                            <figcaption>陈小红(Designer)</figcaption>
                        </figure>

                        <figure class="tm-testimonial-item">
                            <img th:src="@{/img/testimonial-img-02.jpg}" alt="Image" class="img-fluid mx-auto">
                            <blockquote>Integer sit amet risus et erat imperdiet finibus. Nam lacus nunc, vulputate id ex eget, euismod auctor augue.</blockquote>
                            <figcaption>Jacob Joker (CTO)</figcaption>
                        </figure>
                      
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="tm-bg-overlay"></div>
</section>

<!-- Contact -->
<section id="contact" class="tm-section-pad-top tm-parallax-2">

    <div class="container tm-container-contact">

        <div class="row">

            <div class="text-center col-12">
                <h2 class="tm-section-title mb-4">联系我们</h2>
                <p class="mb-5">
                    欢迎咨询相关系统使用,及提供相应建议,本项目以在GitHub开源,欢迎使用
                </p><br>
            </div>

            <div class="col-sm-12 col-md-6">
                <form action="" method="get">
                    <input id="name" name="name" type="text" placeholder="Iszychen" class="tm-input" required />
                    <input id="email" name="email" type="email" placeholder="Iszychen@gmail.com" class="tm-input" required />
                    <textarea id="message" name="message" rows="8" placeholder="Message" class="tm-input" required></textarea>
                    <button type="submit" class="btn tm-btn-submit">Submit</button>
                </form>
            </div>

            <div class="col-sm-12 col-md-6">

                <div class="contact-item">
                    <a rel="nofollow" href="#" class="item-link">
                        <i class="far fa-2x fa-comment mr-4"></i>
                        <span class="mb-0">Chat Online</span>
                    </a>
                </div>

                <div class="contact-item">
                    <a rel="nofollow" href="mailto:mail@company.com" class="item-link">
                        <i class="far fa-2x fa-envelope mr-4"></i>
                        <span class="mb-0">mail@company.com</span>
                    </a>
                </div>

                <div class="contact-item">
                    <a rel="nofollow" href="#" class="item-link">
                        <i class="fas fa-2x fa-map-marker-alt mr-4"></i>
                        <span class="mb-0">Our Location</span>
                    </a>
                </div>

                <div class="contact-item">
                    <a rel="nofollow" href="tel:0100200340" class="item-link">
                        <i class="fas fa-2x fa-phone-square mr-4"></i>
                        <span class="mb-0">255-662-5566</span>
                    </a>
                </div>

                <div class="contact-item">&nbsp;</div>

            </div>


        </div><!-- row ending -->

    </div>

    <footer class="text-center small tm-footer">
        <p class="mb-0">Copyright &copy; 2019.Company 知识点智能识别系统.</a></p>
    </footer>

</section>

<script th:src="@{/js/jquery-1.9.1.min.js}"></script>
<script th:src="@{/slick/slick.min.js}"></script>
<script th:src="@{/magnific-popup/jquery.magnific-popup.min.js}"></script>
<script th:src="@{/js/easing.min.js}"></script>
<script th:src="@{/js/jquery.singlePageNav.min.js}"></script>
<script th:src="@{/js/bootstrap.min.js}"></script>
<script>

    function getOffSet(){
        var _offset = 450;
        var windowHeight = window.innerHeight;

        if(windowHeight > 500) {
            _offset = 400;
        }
        if(windowHeight > 680) {
            _offset = 300
        }
        if(windowHeight > 830) {
            _offset = 210;
        }

        return _offset;
    }

    function setParallaxPosition($doc, multiplier, $object){
        var offset = getOffSet();
        var from_top = $doc.scrollTop(),
            bg_css = 'center ' +(multiplier * from_top - offset) + 'px';
        $object.css({"background-position" : bg_css });
    }

    // Parallax function
    var background_image_parallax = function($object, multiplier, forceSet){
        multiplier = typeof multiplier !== 'undefined' ? multiplier : 0.5;
        multiplier = 1 - multiplier;
        var $doc = $(document);
        // $object.css({"background-attatchment" : "fixed"});

        if(forceSet) {
            setParallaxPosition($doc, multiplier, $object);
        } else {
            $(window).scroll(function(){
                setParallaxPosition($doc, multiplier, $object);
            });
        }
    };

    var background_image_parallax_2 = function($object, multiplier){
        multiplier = typeof multiplier !== 'undefined' ? multiplier : 0.5;
        multiplier = 1 - multiplier;
        var $doc = $(document);
        $object.css({"background-attachment" : "fixed"});

        $(window).scroll(function(){
            if($(window).width() > 768) {
                var firstTop = $object.offset().top,
                    pos = $(window).scrollTop(),
                    yPos = Math.round((multiplier * (firstTop - pos)) - 186);

                var bg_css = 'center ' + yPos + 'px';

                $object.css({"background-position" : bg_css });
            } else {
                $object.css({"background-position" : "center" });
            }
        });
    };

    $(function(){
        // Hero Section - Background Parallax
        background_image_parallax($(".tm-parallax"), 0.30, false);
        background_image_parallax_2($("#contact"), 0.80);
        background_image_parallax_2($("#testimonials"), 0.80);

        // Handle window resize
        window.addEventListener('resize', function(){
            background_image_parallax($(".tm-parallax"), 0.30, true);
        }, true);

        // Detect window scroll and update navbar
        $(window).scroll(function(e){
            if($(document).scrollTop() > 120) {
                $('.tm-navbar').addClass("scroll");
            } else {
                $('.tm-navbar').removeClass("scroll");
            }
        });

        // Close mobile menu after click
        $('#tmNav a').on('click', function(){
            $('.navbar-collapse').removeClass('show');
        })

        // Scroll to corresponding section with animation
        $('#tmNav').singlePageNav({
            'easing': 'easeInOutExpo',
            'speed': 600
        });

        // Add smooth scrolling to all links
        // https://www.w3schools.com/howto/howto_css_smooth_scroll.asp
        $("a").on('click', function(event) {
            if (this.hash !== "") {
                event.preventDefault();
                var hash = this.hash;

                $('html, body').animate({
                    scrollTop: $(hash).offset().top
                }, 600, 'easeInOutExpo', function(){
                    window.location.hash = hash;
                });
            } // End if
        });

        // Pop up
        $('.tm-gallery').magnificPopup({
            delegate: 'a',
            type: 'image',
            gallery: { enabled: true }
        });

        $('.tm-testimonials-carousel').slick({
            dots: true,
            prevArrow: false,
            nextArrow: false,
            infinite: false,
            slidesToShow: 3,
            slidesToScroll: 1,
            responsive: [
                {
                    breakpoint: 992,
                    settings: {
                        slidesToShow: 2
                    }
                },
                {
                    breakpoint: 768,
                    settings: {
                        slidesToShow: 2
                    }
                },
                {
                    breakpoint: 480,
                    settings: {
                        slidesToShow: 1
                    }
                }
            ]
        });

        // Gallery
        $('.tm-gallery').slick({
            dots: true,
            infinite: false,
            slidesToShow: 5,
            slidesToScroll: 2,
            responsive: [
                {
                    breakpoint: 1199,
                    settings: {
                        slidesToShow: 4,
                        slidesToScroll: 2
                    }
                },
                {
                    breakpoint: 991,
                    settings: {
                        slidesToShow: 3,
                        slidesToScroll: 2
                    }
                },
                {
                    breakpoint: 767,
                    settings: {
                        slidesToShow: 2,
                        slidesToScroll: 1
                    }
                },
                {
                    breakpoint: 480,
                    settings: {
                        slidesToShow: 1,
                        slidesToScroll: 1
                    }
                }
            ]
        });
    });
</script>
</body>
</html>