<!DOCTYPE >
<html>
	<head>
    
    <meta http-equiv="Content-Type" content="text/html;charset=utf-8">
    <title>智慧教室</title>
    <link rel="icon" href="http://123.206.53.234/yctc/min-log.png"/>

    <script src="http://123.206.53.234/yctc/js/jquery.min.js"></script>

    <link rel="stylesheet" href="http://123.206.53.234/yctc/css/jquery.fullPage.css">
    <link rel="stylesheet" href="http://123.206.53.234/yctc/css/style.css-v=21343.css"/>

</head>
<body>

<div class="header-wrap white clearfix" style="position: fixed;">
    <a href="index.html" tppabs="http://www.fclassroom.com/index.html" class="logo white"><img src="http://123.206.53.234/yctc/logo_white.png" tppabs="http://www.fclassroom.com/images/logo_white.png" alt=""></a>

    <div class="menu-con common-container">

        <a href="index.html" class="current">首页</a>
        <a href="#">新闻</a>
        <a href="#">概述</a>
        <a href="#">最新动态</a>
		<a href="#">联系我们</a>
    </div>
</div>

<div class="main-container">

    <div class="page login-page">
        <div class="section full-page index-page1">
            <div class="index-page1-text"><img src="http://123.206.53.234/yctc/index_page1_text.png" width="472px" height="132px"/></div>
            <div class="index-menu">
                <a href="/genesis/user/sign-in" class="menu1">
                    <img src="http://123.206.53.234/yctc/10001.png" style="height: 100%;">
                </a>
                <a href="/genesis/user/sign-in" class="menu2">
                    <img src="http://123.206.53.234/yctc/10001-1.png" style="height: 100%;">
                </a>
                <a href="/genesis/user/sign-in" class="menu3">
                    <img src="http://123.206.53.234/yctc/10001-2.png" style="height: 100%;">
                </a>
            </div>
        </div>

    </div>

</div>
<!-- end -->

<!--       -->
<script src="http://123.206.53.234/yctc/js/jquery.fullPage.min.js"></script>
<script src="http://123.206.53.234/yctc/js/jquery.parallax.js"></script>
<script src="http://123.206.53.234/yctc/js/index.js-331232.js"></script>
<!-- end -->

</body>
</html>
